<p>
  <span style="font-size:20px;font-weight:bold;color:#CC6600;font-family:arial;line-height:110%;">New Comment on Your Story</span><br>
</p>
<p>
  Hi <%= @recipient.login %>,
</p>
<p>
  <%= @commenter.login %> commented on your story, "<%= @story.title %>".
</p>
<p>
  <%= link_to "Read the comment here", story_url(@story, :anchor => "comment_#{@comment.id}", user_email: @recipient.email, user_token: @recipient.authentication_token) %>
</p>