<p>
Hi <%= @recipient.id %>,
</p>
<p>
<%= @commenter.id %> commented on your story, "<%= @story.title %>".
</p>
<p>
View it here: <%= link_to read_story_url(@story)+"#comment_"+@comment.id.to_s, read_story_url(@story, :anchor => "comment_"+@comment.id.to_s) %>
</p>