<p>
  <span style="font-size:20px;font-weight:bold;color:#CC6600;font-family:arial;line-height:110%;">Your story has been featured!</span><br>
</p>
<p>
  Hi <%= @recipient.login %>,
</p>
<p>
  Your story, "<%= @story.title %>", has been featured on Six Minute Story. It will appear among a select few stories on the front page of Six Minute Story.
</p>
<p>
	Congratulations!
</p>
<p>
  <%= link_to "View your story here", featured_url(@story, user_email: @recipient.email, user_token: @recipient.authentication_token) %>
</p>