<p>
Hi <%= @recipient.login %>,
</p>
<p>
<%= @follower.login %> is now following your stories on Six Minute Story.
</p>
<p>
You can view their profile here: <%= link_to profile_url(@follower.id), profile_url(@follower.id) %>.
</p>
<p>
View your own profile here: <%= link_to profile_url(@recipient.id), profile_url(@recipient.id) %>.
</p>