<p>
  <span style="font-size:20px;font-weight:bold;color:#CC6600;font-family:arial;line-height:110%;">You have a new follower</span><br>
</p>
<p>
  Hi <%= @recipient.login %>,
</p>
<p>
  <%= @follower.login %> is now following your stories on Six Minute Story.
</p>
<p>
  <%= link_to "View their profile here", profile_url(@follower, user_email: @recipient.email, user_token: @recipient.authentication_token) %>.
</p>
<p>
  <%= link_to "View your own profile", profile_url(@recipient, user_email: @recipient.email, user_token: @recipient.authentication_token) %>.
</p>



