<p>
Hi <%= @recipient.id %>,
</p>
<p>
<%= @follower.id %> is now following you on Six Minute Story.
</p>
<p>
You can view their profile here: <%= link_to profile_url(@follower.id), profile_url(@follower.id) %>.
</p>
<p>
View your own profile here: <%= link_to profile_url(@recipient.id), profile_url(@recipient.id) %>.
</p>