<% unless @share.comments.empty? %>
<div id="comments">
<h1>Comments</h1>

<table>
<% @share.comments.each do |comment| %>

			<tr>
				<td class="commenter">
			<%= link_to h(comment.user.login), user_path(comment.user.id) %> - <%=h did_when(comment.created_at) %>
				</td>
			<tr>
				<td class="comment">
					<p>	
						<%= auto_link(simple_format(h(comment.comment))) %>
					</p>
				</td>
			</tr>
	<br />
<% end %>
</table>
<br />

</div>
<% end %>

