<% unless @comments.empty? %>
<div id="comments">
<h1>Comments</h1>

<table>

<% @comments.each do |comment| %>
<% 	commenter = User.find(comment.user_id) %>	

  <tr>
	
    <td>
		<span>
		<%= link_to h(commenter.login), user_path(commenter.id) %> - <%=h comment.created_at %>
		</span>
		
		<p>	
			<%=h comment.comment %>
		</p>
	</td>
  </tr>
<% end %>
</table>

<br />

		<%= will_paginate @comments %>
</div>
<% end %>

