
<div id="contributed_shares">
	<h1>Shares | <%= link_to 'Add share', new_share_path %></h1>
<table>


<% for share in @shares %>
  <tr>
  <td><span>[<%= link_to "Download / View", share.link %>]</span></td>
    <td><span><%= link_to share.title[0,30], share %></span></td>
    <td><span><%=h share.description[0,50] %> ...</span></td>

</tr>
<% end %>
</table>
</div>
<br />


