<h1>New share</h1>

<% form_for(@share) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
    <%= f.submit "Create" %>
<% end %>

<%= link_to 'Cancel', shares_path %>
