	<tr>
		<td>
      <%= link_to "click to use", write_to_prompt_url(firstline) %>
			<% if is_admin %>

				| <%= link_to "edit", edit_prompt_url(firstline) %>
			<% end %>
		</td>

				<td>
					<%= truncate(firstline.refcode, :length => 100) %>
				</td>
				<td style="text-align:left;"><%= link_to ("read " + pluralize(firstline.stories_count, "story")), prompt_url(firstline) %></td>
			</tr>