%h2 Choose your own adventure:

.row
	.span4.offset2
		= link_to "Write to a Random Prompt", random_prompt_url, class: "btn span3 btn-primary btn-superlarge"
	.span4
		= link_to "Write to a Blank Prompt", write_to_prompt_url(25), class: "btn span3 btn-primary btn-superlarge"