
/*				 							*/
/*				_  _						*/
/*				  o	* *						*/
/*				 							*/				
/*			CSS and the six minute story	*/
/*			by Galen Sanford				*/
/*			galenmail@gmail.com				*/
/*				 							*/
/*				 							*/

/* Colors */
/*

Aqua => #cffff7
Brown => #522b1d
Orange => #ff7400
Purple => #b86ae1
Purple for text => #a85ac1
Greenish-blue => #62d1aa


*/


/*							*/
/* 	Re-styled HTML tags 	*/
/*							*/



body {
	
  margin:0px;
  padding:0px;

	vertical-align:baseline;
	background: #cffff7 url(../images/sublogo_new.png) bottom right fixed no-repeat;
	z-index:1;

	font-size:100%;
	color:#fff; 
	letter-spacing:.07em;

}

body, p, ol, ul, td {
  font-family: helvetica, tahoma, verdana, arial, sans-serif;
  font-size:   13px;
  line-height: 18px;
  margin:0px 0px;
	letter-spacing:.75px;

}

p {
	padding:2px 2px 10px 10px;
}

table {
	table-layout:fixed;
}


pre {
  padding: 10px;
  font-size: 11px;
}

h1 {
	font-size:3em;
	font-family:monospace;
	letter-spacing:.05em;
	text-indent:35px;
	text-align:left;
	line-height:30px;
	color:#522b1d;	
	
	width:100%;
	padding: 2px 0px 4px;
	margin:0px 0px 10px;	
}

h2 {
	padding:1px 0px;
	margin:0px 0px 5px;
}

a, a:visited, a:active{ color: #fff; text-decoration:underline;letter-spacing:.07em;}
a:hover { color: #fff; background-color:transparent;text-decoration:none; }

h1 a, h1 a:visited, h1 a:active {
	color: #522b1d;
	font-size:.4em;
	letter-spacing:.05em;
	background:transparent;
}

img {
	border:0px;
}

textarea {
	width:90%;
	border:0px solid #bbf;
	background: transparent;
	font-size:20px;
	color:#fff;
	padding:10px;
	margin:0px;
}

input, select, option {
	width:90%;
	height:25px;
	padding:3px;
	border:0px;
 	background:url(../images/container_bg.png) fixed repeat;
	font-size:20px;
	font-weight:bold;
	color:#fff;
	margin-bottom:20px;
	vertical-align:middle;
}

select {
	height:32px;
}

option {
	margin:0px;
	width:100%;
	color:#555;
	font-size:15px;
}

input[type="checkbox"]{
	width:14px;
	height:14px;
	border:1px solid #bbf;
	
	font-size:10px;
	color:#fff;
}


input[type="image"],input[type="submit"],input[type="button"] {
	margin-left:10px;
	padding:0px;
	width:122px;
	height:35px;
	background:transparent;
	vertical-align:middle;
}



/*   	 	    	*/
/* 		Errors	 	*/
/*        			*/

.formError {
	position:relative;
	left:20px;
	font-size:16px;
	color:#b33;
/*	color:#578; */
	font-weight:bold;
}

.fieldWithErrors label{
}

.fieldWithErrors input, .fieldWithErrors textarea {
	background-color: #000;
}

#errorExplanation {
  padding: 7px;
  padding-bottom: 12px;
  margin: 0px 15px 20px;
  background-color: #000;
	width:60%;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation span {
  color: #fff;
	font-size:14px;
  margin-bottom: 0px;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;

}

/*		 					*/
/*  Login form	*/
/* 							*/

.loginfg input {
	width:60px;
	height:16px;
	border:1px solid #522b1d;
  background:#cffff7;
	font-size:11px;
	font-weight:normal;
	color:#522b1d;
	margin:2px 0px 0px 4px;
	padding:1px;
}

.loginfg input[type="checkbox"]{
	width:10px;
	height:10px;
	border:0px solid #bbf;
	font-size:10px;
	color:#fff;
	vertical-align:baseline;
}

.loginfg input[type="submit"], .loginfg input[type="button"], .loginfg input[type="image"] {
	width:70px;
	height:20px;
	background:transparent;
	border:0px solid #bbf;
}

.loginfg label {
	font-size:12px;
	font-weight:bold;
	vertical-align:baseline;
}


.loginfg table, .loginfg tr, .loginfg td {
	padding:2px 4px 0px;
	line-height:14px;
	margin:0px;
	vertical-align:baseline;
	border-collapse:collapse;
	
}

.logged_in span {
	padding:0px;
	margin:0px;
}

.logged_in a, .logged_in a:visited, .logged_in a:active, .logged_in a:hover {
	color:#fff;
	font-weight:bold;
	line-height:16px;
	font-size:14px;
	text-decoration:none;
}

.logged_in a:hover {
text-decoration:underline;
background-color:#a759d0;
}

.logged_in table, .logged_in tr, .logged_in td {
	margin:0px;
	padding-top:2px;
	border-right:1px dotted #a759d0;
	height:100%;
	background:#b86ae1;
	border-collapse:collapse;
	
}

/* 							*/
/*  	Header		*/
/* 							*/

#navigation {
	font-family:helvetica, tahoma, verdana, sans-serif;
	text-align:right;
	font-weight:bold;
	font-size:14px;
	line-height:24px;
	float:left;
}

#header_links {
	text-align:center;
	font-weight:bold;
	font-size:18px;
	line-height:24px;
	padding:0px 0px 0px 0px;
	margin:-15px 0px 0px -15px;

}

#header_links a {
	color:#a85ac1;
}

#header_links a:hover {
	color:#522b1d;
}


/* Umm... the logo... */

.logo {
	margin:20px 15px 0px;

}
#logo {
	font-family:verdana, helvetica, tahoma, verdana, sans-serif;
	font-weight:bold;
	padding:0px;
	}

#logo a:hover {
	background-color:transparent;
}

/* Introductory banner */
#banner {
	margin:35px auto 25px;
	width:600px;
	}

#banner p {
	font-size:23px;
	font-weight:normal;
	color: #fff;
	text-align:justify;
	letter-spacing:.03em;
	line-height:35px;
}

#banner strong {
	background-color:#ff9;
	color:#666;
}

#banner u {
	color:#8c5;
	font-weight:bold;
	text-decoration:none;
	font-size:25px;
}

#banner a {
	font-weight:bold;
	color:#45c;
}

#banner a:hover {
	color:#fff;
}


/*							*/
/*			Search			*/
/*							*/
							
#search {
	margin:60px 0px 0px 95px;
}

#search input{
	width:300px;
	height:23px;
	font-size:17px;
	color:#522b1d;
	vertical-align:middle;
	padding:2px;
	margin:0px 0px 0px 0px;
}

#search input[type="checkbox"]{
	width:12px;
	height:12px;
}

#search input[type="image"],input[type="submit"],input[type="button"] {
	margin-left:10px;
	width:122px;
	height:35px;
	background:transparent;
	vertical-align:middle;
}


/* 														*/
/*  	Layout Containers				*/
/* 														*/
#left_container {
	float:left;
	width:35%;
}

#right_container {
	float:right;
	width:60%;
}


/* 							*/
/*  	sideyard			*/
/* 							*/

.sideyardfg h2 {
	text-indent:10px;
	padding-bottom:4px;
	border-bottom:1px dotted white;
}

.sideyardfg span, .sideyardfg p {
	padding:0px 5px;
	font-size:12px;
	color:#fff;
			
}



/* 		new story 	*/
/* 		new story 	*/
/* 		new story 	*/

#prompt_and_timer {
	width:70%;
	position:fixed;
	top:100px;
	left:150px;
}

.prompt_container {
	width:70%;
	margin:0px;
	
}

#prompt {
	background: url(../images/black_container_bg.png) fixed repeat;
	width:100%;
	padding:0px;
}

#prompt .labels {
	margin-left:20px;
	font-size:16px;
	line-height:21px;
	font-weight:bold;
	color:#c97bf2;

}

#prompt .entries {
	margin-left:2px;
	font-size:22px;
	font-weight:normal;
	letter-spacing:1px;
	
}

#timer_container {
	background: url(../images/orange_button_background.png) no-repeat;
	width:122px;
	height:35px;
	margin:0px;
	text-align:center;
	
}

#timer_container span {
	position:relative;
	top:10px;
	font-size:23px;
	font-weight:bold;
}

/*				 							*/
/*  	add_story form		*/
/* 											*/


.add_story_form {
	margin:0px auto;
	padding:0px;
	display:block;
}

.add_story_form table {
	border-collapse:collapse;
	margin:15px auto;
	width:90%;
	padding:0px;
}

.add_story_form th{
	text-indent:15px;
}
.add_story_form td {
	padding: 0px 0px 10px 15px;
	vertical-align:top;
	}

.add_story_form .right {
	border-left:2px dashed gray;
}


.add_story_form label, p {
	margin:0px;
	font-size:20px;
	line-height:28px;
	font-weight:bold;
	text-align:left;
	color: #fff;
}


/* 						*/
/* 		Show Story		*/
/*  	#show_story		*/
/* 		(one story)		*/
/* 						*/

#show_story {
	margin:0px auto;
	padding:0px;
}

#show_story h2 {
	padding:0px;
	margin:0px;
}

#show_story h2 a {
	font-size:23px;
	line-height:26px;
	color: #666;
}

#show_story h2 a:hover {
	font-size:23px;
	line-height:26px;
	color: #fff;
}

.attribution {
	color:#a85ac1;	
	font-size:15px;
	font-weight:bold;
	position: relative;
	left:55px;
	bottom:15px;
}

#show_story form {
	display:inline;
}

#flag-button {
	width:71px;
	height:20px;
}

/* 		Toolbar					*/

.toolbar_container {
	width:80%;
	margin:0px auto;
}

#show_story_toolbar {
	margin:0px auto;
	width:95%;
	
	border:0px solid #ccf;
}

#show_story_toolbar table {
	width:100%;
}

#show_story_toolbar tr {
}


#show_story_toolbar td {
	text-align:center;
	vertical-align:middle;
	width:122px;
	height:35px;
	border:4px solid transparent;
}


#show_story_toolbar .purple_button {
		background:url(../images/purple_button_background.png) center no-repeat;
		width:122px;
		height:35px;
		margin:0px;

	}

	#show_story_toolbar .black_button {
			background:url(../images/black_button_background.png) center no-repeat;
			width:122px;
			height:35px;
			margin:0px;


		}

		#show_story_toolbar .orange_button {
				background:url(../images/orange_button_background.png) center no-repeat;
				width:122px;
				height:35px;
				margin:0px;

			}

#show_story_toolbar .toolbar_button span {
		font-size:16px;
		font-weight:bold;

	}
	
	

}



/* 		Story Information		*/

#show_story .information_container {
	width:85%;
	margin:15px auto;
}

#show_story .information {
	width:100%;
	margin:0px auto;
	background:url(../images/container_bg.png) fixed repeat;
	
	
}

#show_story .information table {
	margin:0px auto;
	width:100%;
	border-collapse:collapse;
	
}

#show_story .information td {
	vertical-align:top;
	border-bottom:0px dashed #99c;
}

#show_story .border_right {
	width:50%;
	border-right:0px dashed #bbf;
}

#show_story .label {
	padding:5px 0px 0px 30px;
	margin:0px;
	color:#667;
	font-size:12px;
	line-height:30px;
}

#show_story .value, #show_story .value a {
	padding:0px 0px 4px 35px;
	margin-bottom:0px;
	font-weight:normal;
	font-size:14px;
	line-height:20px;
	color:#000;
}

#show_story .value a {
	border:0px;
	padding:4px;
}

#show_story .value a:hover {
	color:#000;
}


/* 						*/
/* 		Show Stories		*/
/*  	#show_stories	*/
/* 		(many stories)	*/
/* 						*/

#show_stories {

}

#show_stories table {
	border-collapse:collapse;
	padding:0px;
	margin:0px auto;
	
}

#show_stories td {
	padding:3px;
	margin:0px;
}

#show_stories .title {
	width:500px;
	padding-left:10px;
	font-weight:bold;
	font-size:15px;
	letter-spacing:.07em;
}

#show_stories .row {
	background:transparent;
}

#show_stories .row_alternate {
	background:url(../images/container_bg.png) fixed repeat;
}

.browse_links {
	margin: 0px 55px;
}

.browse_links a {
	font-size:1.5em;
	font-weight:bold;
}



/*  	This is what moves when you click "description"			*/
#description_slide_toggle {
	vertical-align:baseline;
	width:150px;
	text-align:right;
	padding-right:5px;
}

#description_drawer {
	width:600px;
}


/*								*/
/*			Comments			*/
/*								*/

.comment_field_container {
	width:90%;
	margin:0px auto;
}

.commenter_container {
	width:90%;
	margin:10px 20px;
}

.comment_container {
	width:80%;
	margin:0px 60px;
}


#comment_submit_container {
	width:200px;
	margin:5px 65px;
}
#comments {
	margin:0px;
}

#comments span {
	font-size:12px;
}

#comments p {
	margin-left:5px;
	text-indent:5px;
	font-size: 14px;
	color:#fff;
	font-weight:normal;
}

#comments .commenter {
	background:transparent;
	margin:0px;
	font-weight:bold;
	font-size:16px;
	padding:5px 10px 0px;
	vertical-align:baseline;
}

#comments .comment {
	margin-top:0px;
	padding:0px;
	background:transparent;
}

#comment_form {
	margin:15px 0px;
}

#comment_form form {
	margin:5px 0px 5px 40px;
}

#signin_or_register {
	text-align:center;
	font-size:16px;
	font-weight:bold;
}


/*			Footer			*/
/*			Footer			*/
/*			Footer			*/

#footer {
	margin:0px auto;
	font-size:15px;
	width:100%;
	text-align:center;
}

#footer span {
	text-align:center;
}

/*        								*/
/* 		Global classes	 		*/
/*      shared commonly		*/

/*	Linked images shouldn't have black background on hover			*/
.linked_image a:hover {background-color:transparent;}

/*	edit_this link	*/
.edit a, .edit {
	font-size:11px;
	vertical-align:super;
	padding:0px 2px 0px 2px;
	color:#fff;
}

.edit a:hover {
	color:#fff;
	font-size:11px;
	background:transparent;
}

/*	Details link	*/
.details a, .details {
	margin-left:0px;
	font-size:11px;
	vertical-align:baseline;
}


/* 	Description of stories (used in #show_story and #show_stories ) 	*/

.description {
	border:0px solid #ccd;
	margin:15px 40px 15px 40px;
	padding:15px 30px;
}

.description .content {

}

.description p {
	text-indent:15px;
	text-align:justify;	
	font-family:monospace;
	font-size:15px;
	font-weight:normal;
	background:white;
	color:#000;
	letter-spacing:.02em;
	line-height:24px;
	margin:0px 0px 15px 0px;
	padding:10px;
}

/* notices */
#notice_container {
	position:fixed;
	left:30%;
	top:30%;
	z-index:100;
	width:30%;
	
}

#notice {
	width:100%;
	color:#fff;
	font-family:helvetica, tahoma, sans-serif;
	line-height:22px;
	margin:0px;
	padding:10px;
	
	}

#notice img {
	padding:0px 5px;
	}

/* Sharing stories */

.story_this_story {
	line-height:18px;
	margin:0px;
	text-align:center;
}

.story_this_story a, #story_this_story a:visited, #story_this_story a:active, #story_this_story a:hover {
	vertical-align:top;
	text-decoration:none;
	background-color:transparent;
	color:#333;
	font-size:14px;
}

/* Pagination */

.pagination {
	text-align:center;
	vertical-align:baseline;
}

.pagination .disabled {
	display: none;
}

.pagination .prev_page, .pagination .next_page, .pagination .current {
	font-size: 14px;
}

.pagination a, .pagination a:visited, .pagination a:active, .pagination a:hover {
	font-size: 14px;
	font-weight: bold;
}

/* Recaptcha */
.recaptcha_table, .recaptcha_image_cell, #recaptcha_table {
border:0px;

 }
 
.recaptcha_image_cell {
	width:300px;
}
 #recaptcha_table {
	background-color:white;
	border-collapse:collapse;

 }
 
 #recaptcha_response_field {
	background:transparent;
 }

/* Linked images should not have a hover */
.linked_image a:hover{
	background:transparent;
}


/*												*/
/*		Clean-up Classes		*/
/*												*/

/* Error styles */

.explanation_container {

	padding:15px;
}

#explanation {
	width:500px;
	
	position:relative;
	left:60px;
	top: 70px;
	
}

#explanation a {
	color:#522b1d;
}

#explanation p {
	font-size:1.5em;
 	color:#000;
	font-weight:normal;
}

#explanation strong {
	color: #a85ac1;
}

#error_logo {
	position:relative;
	left:35px;
	top:60px;
}


.small_text a, .small_text a:visited, .small_text a:active, .small_text a:hover, .small_text span, .small_text p {
	font-size:10px;
}

.center {
	width:90%;
	margin:0px auto;
}

.float_left {
	float:left;
}

.float_right {
	float:right;
}

.clear {
	clear:both;
}

.space {
	height:15px;
}