
/*				 														*/
/*				_  _												*/
/*				  o	* *											*/
/*				 														*/				
/*			CSS and the six minute story	*/
/*			by Galen Sanford							*/
/*			galenmail@gmail.com						*/
/*				 														*/
/*				 														*/

/* Colors */
/*

Aqua => #dfffff
Brown => #522b1d
Orange => #ff7400
Purple => #b86ae1
Purple for text => #a85ac1
Greenish-blue => #62d1cc
Lighter Greenish-blue => #84f3cc
Pastel Green => #aacc31
New Blue => #8fcfef
#6fdfcf
Great Green => #5f9f3f

*/


/*												*/
/* 	Re-styled HTML tags 	*/
/*												*/



body {
	
  margin:0px;
  padding:0;

	vertical-align:baseline;
	background: #dfffff url(../images/sublogo_new_cropped.png) bottom right fixed no-repeat;
	z-index:1;


}

body, p, td, h1, h4 {
  font-family: "univers", helvetica, tahoma, verdana, arial, sans-serif;
  line-height: 1.2em;
	font-size:100%;
	letter-spacing:.07em;
	color:#222; 

  margin:0px 0px;


}

p {
	padding:2px 2px 10px 10px;
}

table {
}


pre {
  padding: 10px;
  font-size: 11px;
}

h1 {
	font-size:2.3em;
	letter-spacing:.075em;
	text-align:left;
	color:#111;
	
	opacity:1;
	filter: alpha(opacity = 80);
	zoom:1;
	
	padding: 2px 0;
	margin:0px 0px 10px 0;	
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
/*	-moz-border-radius-topright:5px;  
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
*/	
}

h4 {
	font-size:1.5em;
	font-weight:600;

	text-align:left;

	line-height: 1.5em;


	color:#522b1d;
	opacity:1;
	filter: alpha(opacity = 90);
	zoom:1;
	
	padding: 2px 0;
	margin:0px 0px 10px 0;	
	
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	
}

a, a:visited, a:active{ color: #a85ac1; text-decoration:none;letter-spacing:.07em;}
a:hover { color: #b86ae1; background-color:transparent;text-decoration:underline; }

h1 a, h1 a:visited, h1 a:active {
	color: #fff;
	font-size:1em;
	letter-spacing:.05em;
}

img {
	border:0px;
}

input[type="image"],input[type="submit"],input[type="button"] {
	margin-left:10px;
	padding:0px;
	width:122px;
	height:35px;
	background:transparent;
	vertical-align:middle;
	
	border:0px;
	opacity:1;
}


textarea {
	width:95%;
	border:0px solid #bbf;
	background: transparent;
	font-family:"ITC Avant Garde Gothic Pro", georgia, serif;
	font-size:1.3em;
	line-height:1.6em;
	color:#000;
	padding:2%;
	margin:0 auto;
	background-color:#fff;
	opacity:0.9;
	filter: alpha(opacity = 70);
	zoom:1;
	
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;

}

input, select, option {
	width:70%;
	height:25px;
	padding:3px;
	border:0px;
	font-size:20px;
	font-weight:600;
	color:#000;
	vertical-align:middle;

	background-color:#fff;
	opacity:0.9;
	filter: alpha(opacity = 60);
	zoom:1;
	
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;

}

select {
	height:32px;
}

option {
	margin:0px;
	width:100%;
	color:#555;
	font-size:15px;
}

input[type="checkbox"]{
	width:14px;
	height:14px;
	border:1px solid #bbf;
	
	font-size:10px;
	color:#fff;
}


/*   	 	    	*/
/* 		Errors	 	*/
/*        			*/

.formError {
	position:relative;
	left:20px;
	font-size:1em;
	font-weight:600;
}

.fieldWithErrors label{
}

.fieldWithErrors input, .fieldWithErrors textarea {
	background-color: #000;
	color:#fff;
}

#errorExplanation {
  padding: 7px;
  padding-bottom: 12px;
  margin: 0px 15px 10px;
	width:60%;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: 600;
  font-size: 1em;
  color: #fff;
}

#errorExplanation span {
  color: #522b1d;
	font-size:14px;
  margin-bottom: 0px;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;

}



/*							*/
/*	Admin box		*/
/*  						*/


.admin_container {
	position:fixed;
	right:6px;
	top:0px;
	width:200px;
	-moz-border-radius-bottomleft:10px;  
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border:1px solid #b86ae1;
  z-index:9999;
	background:#b86ae1;
	padding:3px;
}

.admin_container table, .admin_container tr, .admin_container td {
	padding:2px 4px 0px;
	line-height:14px;
	margin:0px;
	vertical-align:middle;
	border-collapse:collapse;
}

/*		 					*/
/*  Login form	*/
/* 							*/


.login_container {
	position:fixed;
	right:6px;
	top:0px;
	z-index:9999;
	-moz-border-radius-bottomleft:10px;  
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border:1px solid #b86ae1;
	background-color:#b86ae1;
	padding:3px;
}


.login_container input {
	width:70px;
	height:17px;
  background:#cffff7;
	font-size:11px;
	font-weight:normal;
	color:#522b1d;
	margin:2px 0px 0px 0px;
	padding:1px;
}


.login_container input[type="submit"], .login_container input[type="button"], .login_container input[type="image"] {
	width:70px;
	height:20px;
	background:transparent;
	border:0px solid #bbf;
}

.login_container table, .login_container tr, .login_container td {
	padding:2px 4px 0px;
	line-height:14px;
	margin:0px;
	vertical-align:middle;
	border-collapse:collapse;
	
}

.login_container a, .admin_container a {
	color:#fff;
	font-weight:600;
	line-height:1em;
	font-size:.7em;
	text-decoration:none;
	
}

.login_container a:hover {
text-decoration:underline;
background-color:#a759d0;
}

#login_name a {
	font-size:1em;
}

.logged_in span {
	padding:0px;
	margin:0px;
}



.logged_in table, .logged_in tr, .logged_in td {
	margin:5px 0;
	padding-top:2px;
	border-right:1px dotted #a759d0;
	height:100%;
	background:#b86ae1;
	border-collapse:collapse;
	
}
#login {
	width:70%; 
	background:#fff;
	opacity:.9;
	margin:0 auto;
	text-align:center;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	padding:2%;
}
/* 								*/
/*		Share links */
/*								*/
#share_container {
	visibility:hidden;
	position:fixed;
	left:420px;
	top:0px;
	z-index:10001;
	width:325px;
	-moz-border-radius-bottomleft:5px;  
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	padding:3px;
	border:1px solid #444;
	border-top:0;
	background-color:#fff;
}

#share_container table {
	width:95%;
	background:#fff;
	border-collapse:collapse;
}


#share_container tr, #share_container td {
	background:#fff;

}

#share_container td {
	width:33%;
	padding:0px;
	margin:0;
	text-align:center;
}								
								
/* 							*/
/*  	Header		*/
/* 							*/

#navigation {
	text-align:right;
	font-weight:600;
	font-size:14px;
	line-height:24px;
	float:left;
}

#header_links {
	text-align:center;
	position:relative;
	left:25px;
	
	font-weight:600;
	font-size:18px;
	line-height:24px;
	padding:0px 0px 0px 0px;
	margin:0 10px;
	z-index:100;
}

#header_links a {
	color:#a85ac1;
}

#header_links a:hover {
	color:#8fcfef;
}


/* Umm... the logo... */

.logo {
	position:relative;
	left:45px;
	margin:25px 0;
}

.logo img {
		opacity:.9;
}
#logo {
	font-weight:600;
	padding:0px;
	}

#logo a:hover {
	background-color:transparent;
}

/* Introductory banner */
#banner {
	margin:35px auto 25px;
	width:600px;
	}

#banner p {
	font-size:23px;
	font-weight:normal;
	color: #fff;
	text-align:justify;
	letter-spacing:.03em;
	line-height:35px;
}

#banner strong {
	background-color:#ff9;
	color:#666;
}

#banner u {
	color:#8c5;
	font-weight:600;
	text-decoration:none;
	font-size:25px;
}

#banner a {
	font-weight:600;
	color:#45c;
}

#banner a:hover {
	color:#fff;
}


/*							*/
/*			Search			*/
/*							*/
							
#search_container {
/*
	position:relative;
	right:40px;
	top:55px;
*/
	width:100%;
	margin:0% 0% 10px 3%;
	text-align:center;
}

#search_container input{
	width:95%;
	
	height:31px;
	font-size:17px;
	color:#fff;
	padding:2px 7px;
	margin:0px auto;
	background-color:#62d1cc;
	opacity:0.6;
	filter: alpha(opacity = 60);
	zoom:1;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	border:1px solid #62d1cc;
}
/*
#search_container input[type="image"],input[type="submit"],input[type="button"] {
	margin:0;
	width:122px;
	height:35px;
	background:transparent;
	border:0px;
	opacity:1;
	filter: alpha(opacity = 100);
	zoom:1;
	
}

#search_container table {
	width:100%;
	border-collapse:collapse;
	padding:0;

}

#search_container th, #search_container td {
	text-align:left;
	vertical-align:bottom;
	padding:0;
}

#search_container td {
	text-align:right;
}

*/

/* 														*/
/*  	Layout Containers				*/
/* 														*/
#left_container {
	float:left;
	width:70%;
}



.sideyard_container {
	width:29%;
	margin:0;
	padding:10px 0px;
	float:right;
	background-color:#111;
	opacity:1;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	z-index:1000;
	
}

.sideyard_container div, .sideyard_container p, .sideyard_container span, .sideyard_container h5 {
	color:#fff;
	
} 
	 
.house_container {
	margin:0 auto;
	width:95%;
	padding:0;
	clear:both;
	
	background:;
	opacity:1;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	
}


/* 							*/
/*  	sideyard			*/
/* 							*/

.sideyard_container h2 {
	font-family:"univers","Helvetica Bold Condensed", helvetica;
	font-size:1.1em;
	text-indent:10px;
	font-weight:600;
	letter-spacing:.13em;
	margin-bottom:15px;
	padding:4px 0px;
	border-bottom:1px dotted #333;
	color:#fff;

}

.sideyard_container span, .sideyard_container p {
	padding:0px 18px;
	margin-bottom:15px;
	font-size:1em;
	font-weight:500;
	color:#fff;
	letter-spacing:.15em;
	line-height:1.5em;
}

.sideyard_container em {
	color:#aacc31;
	font-style:normal;
	font-weight:500;
	
	padding:2px;
	
}

.sideyard_container strong {
	color:#b86ae1;
	font-weight:500;
}

.sideyard_container ul {
	list-style-type:none;
	margin:-5px 5px 20px;
}

.sideyard_container li {
	font-size:.8em;
}


.sideyard_container a {
	color:#aacc31;
}

#elevator_pitch {
		width:80%;
		margin:5% auto;
		text-align:left;
	}

#elevator_pitch div {
	margin:0 4%;
}

#elevator_pitch p {
	font-size:1.1em;
	line-height:1.5em;

}

#facebook_widget {
	width:80%;
	margin:0px auto;
}

.share {
	display:block;
	  float:left;
	  padding:0;
	  margin:0;
	  overflow:hidden;
	line-height:1em;
	
}

/* 		user profile 	*/
/* 		user profile 	*/
/* 		user profile 	*/

.information table {
	border-collapse:collapse;
	width:90%;
	margin:0px auto;
	font-size:.9em;
	padding:0;
}

.information th {
	vertical-align:top;
	text-align:right;
}

.information td {
	font-size:.8em;
}

#following_toggle {
	color:#aacc31;
}

#following_button, #unfollowing_button {
	background-color:#aacc31;
	padding:0;
	margin:0px 0px 10px 15px;
	
}

#unfollowing_button {
	background-color:#ff7400;
}


/* 		new story 	*/
/* 		new story 	*/
/* 		new story 	*/

#prompt_and_timer {
	

	z-index:10000;

}

.prompt {
	width:95%;
	text-align:center;
	margin:0 auto;
}

.prompt img {
	width:100%;
	opacity:1;

	-moz-border-radius:10px;  
	-webkit-border-radius:10px;

	
}

.prompt span {
	font-size:.7em;
	background:#222;
	padding:2px;
	margin:7px;
	display:block;
	-moz-border-radius:5px;  
	-webkit-border-radius:5px;
	
}

.prompt_container {
	width:100%;
	margin:0px;
	background:#000;
	opacity:1;
	filter: alpha(opacity = 100);
	zoom:1;
	
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
}

#prompt {
	width:100%;
	padding:1% 0;
	background: #111;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;

}

#prompt p {
		display:inline;
		color:#fff;
		position:relative;
		left:1%;
}

#prompt span {
	font-size:.8em;
	
}

#prompt .firstline {
	width:90%; 
	margin:0px auto;
	
}
#prompt .labels {
	margin-left:2%;
	font-size:1em;
	line-height:21px;
	font-weight:500;
	color:#c97bf2;

}

#prompt .entries {
	margin-left:3%;
	font-size:1em;
	font-weight:normal;
	letter-spacing:.075em;
	line-height:2em;
	color:#fff;
}

.button_container {
	-moz-border-radius:5px;  
	-webkit-border-radius:5px;
	width:100px;
	height:25px;
	margin:auto;
	text-align:center;
	vertical-align:middle;
	display:inline-block;


	
}

.orange {
	background-color:#ff7400;
}

.brown {
	background-color:#522b1d;
}

.green {
	background-color:#aacc31;
}

.blue {
		background-color:#8fcfef;
}

.purple {
	background-color:#b86ae1;
}

.button_container a, .button_container span {
	position:relative;
	top:3px;
	
	color:#fff;
	font-weight:600;
	font-size:.85em;
	letter-spacing:.085em;
	text-decoration:none;
	
	display:block;
	width:100%;
	height:100%;
}

.button_container span {
	display:inline-block;
	position:relative;
	left:-18px;
	
}

.button_container:hover {
	background-color:#8fcfef;
}

#timer_container {
	margin: 3%;
	z-index:10000;
	font-size:1.5em;
}

#timer_container span {
	position:relative;
	top:0;
}

/*				 										*/
/*  	user and story  forms		*/
/* 														*/


#new_story_form input, select, #user_form input, select {
	width:70%;
	-moz-border-radius-bottomleft:0px;  
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topright:5px;  
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
}

#new_story_form input[type="image"], #user_form input[type="image"] {
	width:122px;
	height:35px;
}

#new_story_form table {
	width:90%;
	margin:15px auto 25px;
	border-collapse:collapse;
}

#new_story_form tr {
}

#new_story_form th, #user_form th{
	padding:0 6px;
	text-align:right;
	-moz-border-radius-bottomleft:5px;  
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	background-color:#a85ac1;
}

#new_story_form td, #user_form td {
	padding:0;
	text-align:left;
}

#user_form, .edit_user_form {
	margin:0 auto;
	padding:0 15px;
	display:block;

}

.edit_user_form {
	width:90%;
	border:0;
}

#user_form table, .edit_user_form table {
	border-collapse:collapse;
	margin:15px auto;
	width:100%;
	padding:0px;
}

#user_form table label, .edit_user_form table label {
	font-size:1.2em;
	letter-spacing:-.02em;
	font-weight:bold;
	color:#000;
}

#user_form .notification_option, .edit_user_form .notification_option {
	font-size:.9em;
	color:#522b1d;
}

#user_form input[type="checkbox"], .edit_user_form input[type="checkbox"] {
	width:1.2em;
	height:1.2em;
	
	margin:0;
	
}


/* 											*/
/* Thanks for writing 	*/
/*											*/
#thanks_for_writing {
	width:90%;
	margin:0 auto;

	background:#fff;
	opacity:.9;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	padding:25px;
	
}

#thanks a {		
	color:#a85ac1;
}

#thanks p {
	color:#000;
	text-align:left;
	font-size:1.3em;
	font-family:"ITC Avant Garde Gothic Pro", georgia, serif;
	letter-spacing:.08em;
	line-height:1.5em;
}


#share {
	float:right;
	width:50px;
	text-align:left;
	background:#bfcfdf;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	padding:25px 15px;
	margin: 0 1% 2% 5%;
	
}
											
											
/* 						*/
/* 		Show Story		*/
/*  	#show_story		*/
/* 		(one story)		*/
/* 						*/

#show_story {
	margin:0px auto;
	padding:0px;
}


#flag-button {
	width:71px;
	height:20px;
}

/* 		Toolbar					*/

.toolbar_container {
	width:90%;
	margin:15px auto;
	background:#222;
	opacity:0.9;
	filter: alpha(opacity = 90);
	zoom:1;
	
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	text-align:center;
	
}

#show_story_toolbar table {
	width:90%;
	margin:0px auto;
}

#show_story_toolbar div {
	margin:2px;
}


/* 		Story Information		*/

#information_container {
	width:95%;
	margin:1% auto 1%;
		
	background:#84f3cc;
	opacity:1;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	border:1px solid #84f3cc;
	
}

#information_container table {
	width:100%;
	border-collapse:collapse;
	
}

#information_container td {
	vertical-align:top;
}

#show_story .label {
	padding:5px 0px 0px 30px;
	margin:0px;
	color:#667;
	font-size:12px;
	line-height:30px;
}

#show_story .value, #show_story .value a {
	padding:0px 0px 4px 35px;
	margin-bottom:0px;
	font-weight:normal;
	font-size:14px;
	line-height:20px;
	color:#000;
}





/* 											  */
/* 	Individual stories		*/
/* 											  */


#indStory, #indStoryFront {
	width:99%;
	margin:15px auto;
	color:#000;
	font-size:1em;

}

#indStory a, #indStoryFront a {
	color:#a85ac1;
}


.indStory {
	background:#8fdfef;
}

.indStoryAlternate {
		background:#8fcfef;
}

#title_bar {
	color:#333;
	font-size:.85em;
	opacity:1;
	-moz-border-radius-topleft:10px;  
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;	
	padding:4px;
}

#storyAndMeta {
	text-align:center;
	color:#333;
	
	background:#fff;
	opacity:.9;
	
	
	-moz-border-radius-bottomleft:10px;  
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;

	padding:5px;

}

.story {
	padding:25px 25px 0;
}

.story a {
	font-size:.8em;
}

.story p {
	text-align:justify;
	line-height:1.9em;
	font-size:1.2em;
	letter-spacing:.09em;
	color:#000;
	font-family:"ITC Avant Garde Gothic Pro", georgia, serif;
	
	/*
	text-indent:1em;
	text-align:justify;	
	color:#000;
	font-size:1.2em;
	font-family:"ITC Avant Garde Gothic Pro", georgia, serif;
	letter-spacing:.08em;
	line-height:1.6em;
	margin:0 0 15px;
	*/
}


.meta {
  text-align:right;
	font-size:.75em;
	padding-right:5px;
}

/* 						*/
/* 		Show Stories		*/
/*  	#show_stories	*/
/* 		(many stories)	*/
/* 						*/

#listPrompts {
	opacity:.9;
}

#listPrompts table, #listPrompts td {
	color:#555;
	font-family:"univers", helvetica;
	font-size:.9em;


}

#listPrompts table {
	width:90%;
	margin:20px auto;
	border-collapse:collapse;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;

	background: #fff;
	}

#listPrompts th {
	padding:10px 0;
}

#listPrompts td {
	padding:1% 1%;
	text-align:center;
	background:transparent;
}

#listPrompts img {
	-moz-border-radius:5px;  
	-webkit-border-radius:5px;
	border:5px solid black;
	margin:1% 0;
}

#listPrompts img:hover {
	opacity:.7;
}

#listPrompts table a {
	color:#111;
}

#listPrompts .row {
	background: #999;
	color:#fff;
}

#listPrompts .row td, #listPrompts .row a {
	color:#fff;
}

#show_prompt {
	color:#fff;
}

#show_stories .story_comments, #show_stories .story_rating {
	text-align:center;
	width:27px;
	vertical-align:middle;
}

#show_stories img {
	position:relative;
	top:7px;
	padding:0;
	margin:-5px 0px;
}

#show_stories .story_comments a, #show_stories .story_rating span {
	position:relative;
	top:-8px;
	
	color:#444;
	text-decoration:none;
	font-weight:600;
	
	display:block;
	height:100%;
	width:100%;
}

#show_stories .story_rating span {
	cursor:auto;
}

#show_stories .title {
	width:600px;
	padding-left:10px;
	font-weight:500;
	letter-spacing:.07em;
	opacity:1;
}


#show_stories .title a, #show_stories .author a {

	font-weight:600;
	text-decoration:none;
	padding:2px;
}

#show_stories .title a {
	letter-spacing:.08em;
	color:#522b1d;
	
}

#show_stories .title a:hover, #show_stories .author a:hover {
	background-color:#9fefff;
	
	-moz-border-radius:5px;  
	-webkit-border-radius:5px;
	
}

#show_stories .author a {
	color:#fff;
	font-size:.9em;

}

#show_stories .author {
	text-align:right;
	width:100px;

}

#no_stories {
	width:90%;
	margin:0px auto;
}

#no_stories p {
	text-indent:2em;
}

#no_stories em {
	color:#b86ae1;
	font-style:normal;
}

.browse_links {
	display:block;
	padding:15px 0 15px 60px;

}

#rss_feed {
	margin-left:15px;
} 
#rss_feed img {
	position:relative;
	top:2px;
	left:-5px;
}

#rss_feed a {
	font-size:.7em;
	text-decoration: none;
}

/*								*/
/*			Comments			*/
/*								*/

.comment_field_container {
	width:90%;
	margin:1% auto;
	padding:1%;
	background:#111;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	text-align:center;

}

.comment_field_container textarea {
	width:95%;
	padding:2%;
	background:#333;
	color: #fff;
	
}


.comment_container {
	width:90%;
	margin:15px auto;
	background:#fff;
	opacity:0.9;
	filter: alpha(opacity = 90);
	zoom:1;
	
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	padding:2%;

}


#comment_submit_container {
	margin:1% 0;
}

#comments {
	margin:10px 0px;
}

#comments span {
	font-size:12px;
}

#comments p {
	margin-left:1%;
	font-size: 1.2em;
	line-height:1.6em;
	font-weight:normal;
	color: #000;
	font-family:"ITC Avant Garde Gothic Pro", georgia, serif;	
}


#comment_form {
	margin:15px 0px;
}

#comment_form form {
	margin:5px 0px 5px 40px;
}

#signin_or_register {
	text-align:center;
	font-size:18px;
	font-weight:600;
	color: #522b1d;
}

/*				FAQ					*/
/*				FAQ					*/
/*				FAQ					*/

#content {
	width:90%;
	margin:0 auto;

	
}

.answer {
	background-color:#fff;
	opacity:.9;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	padding:10px 30px;
	width:95%;
	margin:0 10% 30px;

}

.answer p, .answer ol {
	text-align:justify;
	line-height:1.9em;
	font-size:1.2em;
	letter-spacing:.09em;
	color:#000;
	font-family:"ITC Avant Garde Gothic Pro", georgia, serif;

}

.answer a {
	color:#a85ac1;
}

/*			 						*/
/*			Footer			*/
/*									*/

#footer_container {

	margin:15px auto 0;
	padding:0;
	text-align:center;
	width:100%;
	
	color:#fff;

	background-color:#aacc31;
/*	-moz-border-radius-topleft:5px;  
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
*/
		
}

#footer_container h3 {
	margin:0 auto 10px;
	background-color:#88aa10;
	-moz-border-radius-bottomleft:10px;  
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	width:70%;
	
	font-size: 1em;
	font-weight:500;
}

#footer_container div p {
	font-size:.8em;
	font-weight:normal;	
	text-align:left;
	letter-spacing:.08em;
	line-height:1.6em;
	
	color: #fff;
}

#footer_container div p a {
	color: #fff;
	text-decoration:underline;
}
#licenses, #how_to_contact {
	width:45%;
	padding:0px 15px;
}

#licenses {
	float:left;
}

#how_to_contact {
	float:right;
}

/*        								*/
/* 		Global classes	 		*/
/*      shared commonly		*/

/*	Linked images shouldn't have black background on hover			*/
.linked_image a:hover {background-color:transparent;}

/*	edit_this link	*/
.edit a, .edit {
	font-size:11px;
	vertical-align:super;
	padding:0px 2px 0px 2px;
	color:#fff;
}

.edit a:hover {
	color:#fff;
	font-size:11px;
	background:transparent;
}

#flag {
	width:20%;
	margin:10px 30px;

}

/* notices */
#notice_container {
	position:fixed;
	left:30%;
	top:20%;
	z-index:8000;
	width:30%;
	
	background:#000;
	opacity:1;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	padding:4px;
	
	
}

#notice {
	width:100%;
	color:#fff;
	line-height:22px;
	margin:0px;
	padding:10px;
	
	}

#notice img {
	padding:0px 5px;
	}

/* Sharing stories */

.story_this_story {
	line-height:18px;
	margin:0px;
	text-align:center;
}

.story_this_story a, #story_this_story a:visited, #story_this_story a:active, #story_this_story a:hover {
	vertical-align:top;
	text-decoration:none;
	background-color:transparent;
	color:#333;
	font-size:14px;
}

/* Pagination */


.pagination {
	text-align:center;
	vertical-align:baseline;

	background:#000;
	opacity:.8;
	filter: alpha(opacity = 80);
	zoom:1;
	
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	
	width:70%;
	padding:4px;
	margin:5px auto;
	

}

.pagination .disabled {
	display: none;
}

.pagination .prev_page, .pagination .next_page, .pagination .current {
	font-size: 14px;
}

.pagination a {
	font-size: 14px;
	font-weight: 600;
	color:#fff;
	padding:3px;
}

.pagination a:hover {
	background:#333;
}

/* Recaptcha */
.recaptcha_table, .recaptcha_image_cell, #recaptcha_table {
	width:90%;
 }
 
.recaptcha_image_cell {
}
 #recaptcha_table {
	background-color:#fff;
	border-collapse:collapse;
	opacity:0.9;
	filter: alpha(opacity = 90);
	zoom:1;
	
	border:2px solid #333;
 }
 
 #recaptcha_response_field {
	background:transparent;
 }

/* Linked images should not have a hover */
.linked_image a:hover{
	background:transparent;
}


/*												*/
/*		Clean-up Classes		*/
/*												*/

/* Error styles */

.explanation_container {

	padding:15px;
}

#explanation {
	width:550px;
	
	position:relative;
	left:60px;
	top: 70px;
	
}

#explanation a {
	color:#522b1d;
}

#explanation p {
	font-size:1.5em;
 	color:#000;
	font-weight:normal;
}

#explanation strong {
	color: #a85ac1;
}

#error_logo {
	position:relative;
	left:35px;
	top:60px;
}


.small_text a, .small_text a:visited, .small_text a:active, .small_text a:hover, .small_text span, .small_text p {
	font-size:.7em;
}

.center {
	width:95%;
	margin:0px auto;
}

.float_left {
	float:left;
}

.float_right {
	float:right;
}

.clear {
	clear:both;
	height:1px;
}

.space {
	height:15px;
}

/* Tag Cloud on Browse By Tags */
.tag_cloud_container {
	width:90%;
	margin:0px auto;
	padding:15px;
	text-align:center;
	line-height:1.5em;
	
	background:#000;
	opacity:0.9;
	filter: alpha(opacity = 90);
	zoom:1;
	
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	
}

.css1 { font-size: 0.6em; padding:0 5px; color:#84f3cc; }
.css2 { font-size: 1.2em; padding:0 10px; color:#b86ae1;}
.css3 { font-size: 1.8em; padding:0 15px; color:#cffff7;}
.css4 { font-size: 2.2em; padding:0 20px; color:#aacc31;}