
/*				 														*/
/*				_  _												*/
/*				  o	* *											*/
/*				 														*/				
/*			CSS and Six Minute Story			*/
/*			by Galen Sanford							*/
/*			galenmail@gmail.com						*/
/*				 														*/
/*				 														*/

/* Colors */
/*

Aqua => #efffff
Brown => #522b1d
Orange => #ff7400
Purple => #b86ae1
Purple for text => #a85ac1
Possible purple for text areas: #e8daf0
Pastel Green => #aacc31
New Blue => #8fcfef
Pro Blue Grey => #e6f6f6
#6fdfcf
Great Green => #5f9f3f

*/


/*  Fonts 								*/

@font-face {
	/* This declaration targets Internet Explorer */
	font-family: 'nevisBold';
	src: url('../fonts/nevis-webfont.eot');
}

@font-face {
	/* This declaration targets everything else */
	font-family: 'nevisBold';
	src: url(//:) format('no404'), url('../fonts/nevis-webfont.woff') format('woff'), url('../fonts/nevis-webfont.ttf') format('truetype'), url('../fonts/nevis-webfont.svg#webfontek601Y1Z') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	/* This declaration targets Internet Explorer */
	font-family: 'JuraRegular';
	src: url('../fonts/jura-webfont.eot');
}

@font-face {
	/* This declaration targets everything else */
	font-family: 'JuraRegular';
	src: url(//:) format('no404'), url('../fonts/jura-webfont.woff') format('woff'), url('../fonts/jura-webfont.ttf') format('truetype'), url('../fonts/jura-webfont.svg#webfonthytcqjBw') format('svg');
	font-weight: normal;
	font-style: normal;
}



/*												*/
/* 	Re-styled HTML tags 	*/
/*												*/



body {
	
  margin:0px;
  padding:0;

	vertical-align:baseline;
/*	background: #dfffff url(../images/sublogo_new_cropped.png) bottom right fixed no-repeat;*/ 
	background: #e9faff;
	z-index:1;

}

body, p, td, h1, h4 {
	font-family: "JuraRegular",georgia, serif;
  line-height: 1.2em;
	font-weight:400;
	font-size:100%;
	letter-spacing:.07em;
	color:#222; 

  margin:0px 0px;


}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

p {
	padding:2px 2px 10px 10px;
}

table {
}


pre {
  padding: 10px;
  font-size: 11px;
}

h1, h2, h3, h4, h5 {
	font-family:"nevisBold", "Futura", tahoma, helvetica, sans-serif;
}
h1 {
	font-size:2.3em;
	letter-spacing:.075em;
	text-align:left;
	color:#111;
		zoom:1;
	
	padding: 2px 0;
	margin:0px 0px 10px 0;	

}

h1 a {
	color:inherit !important;
}

h4 {
	font-size:1.5em;
	font-weight:400;

	text-align:left;

	line-height: 1.5em;


	color:#522b1d;
	zoom:1;
	
	padding: 2px 0;
	margin:0px 0px 10px 0;	
	
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	
}

a, a:visited, a:active{ color: #a85ac1; text-decoration:none;letter-spacing:.07em;
		font-family: "nevisBold", tahoma, sans-serif;
	}
a:hover { color: #b86ae1; background-color:transparent;text-decoration:underline; }

h1 a, h1 a:visited, h1 a:active {
	color: #fff;
	font-size:1em;
	letter-spacing:.05em;
}

img {
	border:0px;
}

input {
	font-family: "JuraRegular", georgia, serif;
	font-size:1.2em;
	
}

input[type="image"],input[type="submit"],input[type="button"] {
	margin-left:10px;
	padding:0px;
	width:122px;
	height:35px;
	background:#444;
	color:#fff;
	vertical-align:middle;
	
	border:0px;
}

input, select, option {
	width:70%;
	height:35px;
	padding:3px 2%;
	border:0px;
	font-size:20px;
	font-weight:400;
	color:#111;
	vertical-align:middle;

	background-color:#ddedff;
	zoom:1;
	
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;

}

textarea {
	width:90%;
	background: transparent;
	border:0;
	padding:3%;
	margin:0 auto;
	background-color:#ddedff;
	zoom:1;
	
	font-family: "JuraRegular",georgia, serif;
	font-size:1.2em;
	
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	display:inline-block;
}

select {
	height:32px;
}

option {
	margin:0px;
	width:100%;
	color:#555;
	font-size:15px;
}

input[type="checkbox"]{
	height:10px;
	width:10px;
}


/*   	 	    	*/
/* 		Errors	 	*/
/*        			*/

.formError {
	position:relative;
	left:20px;
	font-size:1em;
	font-weight:400;
}

.fieldWithErrors label{
	color:blue;
}

.field_with_errors input, .field_with_errors textarea {
	background: #000;
	color:#fff;
}

#errorExplanation {
  padding: 7px;
  padding-bottom: 12px;
  margin: 0px 15px 10px;
	width:60%;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: 600;
  font-size: 1.7em;
  color: #000;
}

#errorExplanation h3 {
	color:#a85ac1;
}

#errorExplanation span {
  color: #522b1d;
	font-size:14px;
  margin-bottom: 0px;
  padding: 5px;
}

#errorExplanation ul li {
  list-style: none;
	color:#522b1d;
	font-weight:400;

}


/* 	Writing					*/
/*	new_story_form	*/
/*									*/
									
.new_story_container {
	background-color:#fff;
	padding:2%;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
		text-align:center;
}

textarea#story_description {
	width:95%;
	font-family:"JuraRegular",georgia, serif;
	font-size:1.4em;
	line-height:1.6em;
	letter-spacing:.1em;
	word-spacing:.2em;
	color:#000;
	padding:15px;
}


.new_story_container select, .new_story_container input {
	width:90%;
	height:35px;
}

.new_story_container input[type="submit"] {
	width:auto;
	padding:0 15px;
}

.new_story_container tr {
	height:60px;
}

.new_story_container th {
	text-align:right;
	font-weight:400;
	width:25%;
	padding-right:0;
}

.new_story_container td {
	width:70%;
	text-align:left;
	padding-left:15px;
}

.new_story_container h2 {
	color:#000;
}


/*							*/
/*	Admin box		*/
/*  						*/


.admin_container, .login_container {
	position:fixed;
	right:6px;
	top:0px;
	width:200px;
	-moz-border-radius-bottomleft:10px;  
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border:1px solid #b86ae1;
  z-index:9999;
	background:#b86ae1;
	padding:3px;
}

/*		 					*/
/*  Login form	*/
/* 							*/


.login_container {
	position:fixed;
	right:6px;
	top:0px;
	width:auto;
	padding: 3px 10px;
}


.login_container input {
	width:70px;
	height:17px;
  background:#cffff7;
	font-size:11px;
	font-weight:normal;
	color:#522b1d;
	margin:2px 0px 0px 0px;
	padding:1px;
}


.login_container input[type="submit"], .login_container input[type="button"], .login_container input[type="image"] {
	width:70px;
	height:20px;
	background:#000;
	color:#fff;
}

.login_container table, .login_container tr, .login_container td, .admin_container table, .admin_container tr, .admin_container td{
	padding:2px 4px 0px;
	line-height:14px;
	margin:0px;
	vertical-align:middle;
	border-collapse:collapse;
	
}

.login_container a, .admin_container a {
	color:#fff;
	font-weight:400;
	line-height:1em;
	font-size:.7em;
	text-decoration:none;
	
}

.login_container a:hover {
text-decoration:underline;
background-color:#a759d0;
}

#login_name a {
	font-size:1em;
}

.logged_in span {
	padding:0px;
	margin:0px;
}



.logged_in table, .logged_in tr, .logged_in td {
	margin:5px 0;
	padding-top:2px;
	border-right:1px dotted #a759d0;
	height:100%;
	background:#b86ae1;
	border-collapse:collapse;
	
}
#login {
	width:70%; 
	background:#fff;
	margin:0 auto;
	text-align:center;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	padding:2%;
}

#follow_links {
	float:right;
	position:fixed;
	bottom: 1%;
	right: 0;
	z-index:1000;
}							
								
/* 							*/
/*  	Header		*/
/* 							*/

header, header nav {
	width:95%;

}

header nav {

}
header nav td{
	padding-top:10%;
	padding-left:50px;
	text-align:left;
	width:40%;
	vertical-align:baseline;
}

#navigation {
	text-align:right;
	font-weight:400;
	font-size:14px;
	line-height:24px;
	float:left;
}

#header_links {
	text-align:center;
	
	font-weight:400;
	font-size:18px;
	line-height:24px;
	padding:0px 0px 0px 0px;
	margin:0 10px;
	z-index:100;
}

#header_links a {
	color:#a85ac1;
}

#header_links a:hover {
	color:#8fcfef;
}


/* Umm... the logo... */

.logo {
	margin:25px 0 0 105px;
}

#logo {
	padding:0px;

	}

#logo a:hover {
	background-color:transparent;
}

/*							*/
/*			Search			*/
/*							*/
							
#search_container {
/*
	position:relative;
	right:40px;
	top:55px;
*/
	width:100%;
	margin:0% 0% 10px 3%;
	text-align:center;
}

#search_container input{
	width:95%;
	
	height:31px;
	font-size:17px;
	color:#fff;
	padding:2px 7px;
	margin:0px auto;
	background-color:#62d1cc;
	zoom:1;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	border:1px solid #62d1cc;
}

/* 														*/
/*  	Layout Containers				*/
/* 														*/
#left_container {
	float:left;
	width:70%;
}


.house_container {
	margin:0 auto;
	width:95%;
	padding:0;
	clear:both;
	opacity:1;	
}




.sideyard_container {
	width:29%;
	margin:0;
	padding:10px 0px;
	float:right;
	background-color:#111;
	-moz-border-radius:15px;  
	-webkit-border-radius:15px;
	z-index:1000;
	
}

.sideyard_container div, .sideyard_container p, .sideyard_container span, .sideyard_container h5 {
	color:#fff;
	
} 
	
/* 		Left container 	*/
#left_container .center	h1, #left_container .center h2, #left_container .center h3 {
	color:#000;
}

/* 							*/
/*  	sideyard			*/
/* 							*/


.sideyard_container > h1, h2, h3 {
	color:#fff;
	padding:4px 0 4px 10px;
	margin-bottom:10px;
	font-weight:500;
	letter-spacing:.13em;

}

.sideyard_container h1 {
	font-size:1.5em;
	border-bottom:1px dotted #333;

}

.sideyard_container h2 {
	font-size:1.1em;
}

.sideyard_container h3 {
	font-size:.9em;
}



.sideyard_container span, .sideyard_container p {
	padding:0px 18px;
	margin-bottom:15px;
	font-size:1em;
	font-weight:400;
	color:#fff;
	letter-spacing:.15em;
	line-height:1.5em;
}

.sideyard_container em {
	color:#aacc31;
	font-style:normal;
	font-weight:400;
	
	padding:2px;
	
}

.sideyard_container strong {
	color:#b86ae1;
	font-weight:400;
}

.sideyard_container ul {
	list-style-type:none;
	margin:-5px 5px 20px;
}

.sideyard_container li {
	font-size:.8em;
}


.sideyard_container a {
	color:#aacc31;
}

#elevator_pitch {
		width:80%;
		margin:5% auto;
		text-align:left;
	}

#elevator_pitch div {
	margin:0 4%;
}

#elevator_pitch p {
	font-size:1.1em;
	line-height:1.5em;

}

#facebook_widget {
	width:80%;
	margin:0px auto;
}

.share {
	display:block;
	  float:left;
	  padding:0;
	  margin:0;
	  overflow:hidden;
	line-height:1em;
	z-index:60000;
	
}

/* 		user profile 	*/
/* 		user profile 	*/
/* 		user profile 	*/

.information table {
	border-collapse:collapse;
	width:90%;
	margin:0px auto;
	font-size:.9em;
	padding:0;
}

.information th {
	vertical-align:top;
	text-align:right;
	font-weight:400;
}

.information td {
	font-size:.8em;
}

#following_toggle {
	color:#aacc31;
}

#following_button, #unfollowing_button {
	background-color:#aacc31;
	padding:0;
	margin:0px 0px 10px 15px;
	
}

#unfollowing_button {
	background-color:#ff7400;
}


/* 		new story 	*/
/* 		new story 	*/
/* 		new story 	*/

#prompt_and_timer {
	

	z-index:10000;

}

.prompt {

	text-align:center;
	margin:0 auto;
}

.prompt img {
	width:95%;

	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	
}

#prompt {
	width:100%;
	padding:1% 0;
	background: #111;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;

}

#prompt p {
		display:inline;
		color:#fff;
		position:relative;
		left:1%;
}

#prompt span, .prompt span {
	font-size:.8em;
	width:95%;
	background:#222;
	padding:2px;
	margin:7px;
	display:block;
	-moz-border-radius:5px;  
	-webkit-border-radius:5px;
}

#prompt .firstline {
	width:90%; 
	margin:0px auto;
	
}
#prompt .labels {
	margin-left:2%;
	font-size:1em;
	line-height:21px;
	font-weight:500;
	color:#c97bf2;

}

#prompt .entries {
	margin-left:3%;
	font-size:1em;
	font-weight:normal;
	letter-spacing:.075em;
	line-height:2em;
	color:#fff;
}

.button_container {
	width:100px;
	height:25px;
	margin:2px auto;
	text-align:center;
	display:inline-block;
	
	-moz-border-radius:5px;  
	-webkit-border-radius:5px;	
}

.button_container:hover {
	background-color:#8fcfef;
}


.button_container a, div#timer_element {
	
	color:#fff;
	font-weight:400;
	font-size:.85em;
	letter-spacing:.08em;
	text-decoration:none;

	
}

.button_container a {
	line-height:25px;
	display:block;
	width:100%;
	height:100%;
	
}

div#timer_element {
	margin:auto auto;
	line-height:25px;
	
}

#timer_container {
	margin: 3%;
	z-index:10000;
	font-size:1.5em;
}


.orange {
	background-color:#ff7400;
}

.brown {
	background-color:#522b1d;
}

.green {
	background-color:#aacc31;
}

.blue {
		background-color:#8fcfef;
}

.purple {
	background-color:#b86ae1;
}


/*				 										*/
/*  	user forms							*/
/* 														*/

.edit_profile {
	margin:0 auto;
	padding:0 15px;
	width:100%;
	border:0;
}

.edit_profile p {
	width:100%;
}

.edit_profile table {
	border-collapse:collapse;
	margin:15px auto;
	width:100%;
	padding:0px;
}

.edit_profile td {
	padding:0;
	width:50%;
	text-align:left;
}


.edit_profile  table label {
	font-size:1.2em;
	letter-spacing:-.02em;
	font-weight:400;
	color:#000;
}

.edit_profile .notification_option {
	display:inline;
	font-size:.9em;
	color:#522b1d;
}

.edit_profile input[type="checkbox"]{
	height:15px;
	width:15px;
	display:inline;
}

.edit_profile h2 {
	font-weight:500;
	text-decoration:underline;
}

.edit_profile h3 {
	color:#555;
	font-weight:300;
}

/* 											*/
/* Thanks for writing 	*/
/*											*/
#thanks_for_writing {
	width:90%;
	margin:0 auto;

	background:#fff;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	padding:25px;
	
}

#thanks a {		
	color:#a85ac1;
}

#thanks p {
	color:#000;
	text-align:left;
	font-size:1.3em;
	font-family:"JuraRegular",georgia, serif;
	letter-spacing:.08em;
	line-height:1.5em;
}

#share {
	display:block;
	float:right;
	width:50px;
	text-align:left;
	background:#bfcfdf;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	padding:25px 15px;
	margin: 0 4% 2% 5%;
	z-index: 9999;
	
}
											
											
/* 						*/
/* 		Show Story		*/
/*  	#show_story		*/
/* 		(one story)		*/
/* 						*/

#flag-button {
	width:71px;
	height:20px;
}

/* 		Toolbar					*/

.toolbar_container {
	width:95%;
	margin:15px auto;
	background:#222;
	zoom:1;
	
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	text-align:center;
	
}

#show_story_toolbar table {
	width:100%;
	margin:0px auto;
}

#show_story_toolbar div {
	margin:2px;
}


/* 		Story Information		*/

#information_container {
	width:95%;
	margin:1% auto 1%;
}

#information_container span {
	font-size:.9em;
}

#information_container p {
	font-size:.7em;
	position:relative;
	left:10px;
}


/* 											  */
/* 	Individual stories		*/
/* 											  */

article {
	
	color:#333;
	
	
	background:#fff;
	
	
	-moz-border-radius:20px;  
	-webkit-border-radius:20px;


	padding:0;
	margin:0 auto 4%;
	
	text-align:justify;
	line-height:1.9em;
	font-size:1.2em;
	letter-spacing:.09em;
	color:#000;

}


article p {
	text-align:justify;
	line-height:1.9em;
	font-size:1.2em;
	letter-spacing:.09em;
	color:#000;
	font-family:"JuraRegular",georgia, serif;


	padding:2% 7%;

}

article a {
			font-family:inherit !important;
}

article header {
	padding:3% 3% 0;
	text-align:left;
}

article header h1 a {
	font-size:.9em;
	font-family:"nevisBold", tahoma, sans-serif !important;
}

article header p {
	line-height:1em;
	text-indent:0;
	padding:0 1%;
	font-size:.9em;
}

article hgroup p {
	line-height:1.5em;

}

article footer {
	  text-align:right;
		font-size:.75em;
		padding:0 2% 2%;
		line-height:1.5em;
}

article footer section {
	width:35%;

}

article aside {
}

footer article footer {
	text-align:left;
	font-size:.85em;
	padding:1%;
	margin:1% 0;
	-moz-border-radius:5px;  
	-webkit-border-radius:5px;
	
}

nav {
	margin:2% auto;
	width:100%;
}

/* 									*/
/* 		Prompts				*/
/*  	#listPrompts	*/
/* 									*/

#listPrompts h3 {
	color:#000;
}

#listPrompts table, #listPrompts td {
	color:#555;
	font-family:"JuraRegular",tahoma, verdana;
	font-size:.9em;


}

#listPrompts table {
	width:90%;
	margin:20px auto;
	border-collapse:collapse;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;

	background: #fff;
	}

#listPrompts th {
	padding:10px 0;
}

#listPrompts td {
	padding:1% 1%;
	text-align:center;
	background:transparent;
}

#listPrompts img {
	-moz-border-radius:5px;  
	-webkit-border-radius:5px;
	border:5px solid black;
	margin:1% 0;
}

#listPrompts img:hover {
	opacity:.7;
}

#listPrompts table a {
	color:#111;
}

#listPrompts .row {
	background: #999;
	color:#fff;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
}

#listPrompts .row td, #listPrompts .row a {
	color:#fff;
}

#show_prompt {
	color:#fff;
}

#no_stories {
	width:90%;
	margin:0px auto;
}

#no_stories p {
	text-indent:2em;
}

#no_stories em {
	color:#b86ae1;
	font-style:normal;
}

.browse_links {
	display:block;
	padding:15px 0 15px 60px;
	
}

#rss_feed {
	margin-left:15px;
} 
#rss_feed img {
	position:relative;
	top:2px;
	left:-5px;
}

#rss_feed a {
	font-size:.7em;
	text-decoration: none;
}

/*								*/
/*			Comments			*/
/*								*/

.comment_field_container {
	width:90%;
	margin:1% auto;
	padding:1%;
	background:#111;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	text-align:center;

}

.comment_field_container textarea {
	width:95%;
	padding:2%;
	background:#333;
	color: #fff;
	
}


.comment_container {
	width:90%;
	margin:15px auto;
	background:#fff;
	zoom:1;
	
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	padding:2%;

}


#comment_submit_container {
	margin:1% 0;
}

#comment_submit_container input[type="submit"]{
	background-color:#ff7400;
	color:#fff;
}

#comments {
	margin:10px 0px;
}

#comments span {
	font-size:12px;
}

#comments p {
	margin-left:1%;
	font-size: 1.2em;
	line-height:1.6em;
	font-weight:normal;
	color: #000;
	font-family:"JuraRegular",georgia, serif;	
}


#comment_form {
	margin:15px 0px;
}

#comment_form form {
	margin:5px 0px 5px 40px;
}

#signin_or_register {
	text-align:center;
	font-size:18px;
	font-weight:400;
	color: #522b1d;
}

/*				FAQ					*/
/*				FAQ					*/
/*				FAQ					*/

#content {
	width:90%;
	margin:0 auto;

	
}

.answer {
	background-color:#fff;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	padding:10px 30px;
	width:95%;
	margin:0 10% 30px;

}

.answer p, .answer ol {
	text-align:justify;
	line-height:1.9em;
	font-size:1.2em;
	letter-spacing:.09em;
	color:#000;
	font-family:"JuraRegular",georgia, serif;

}

.answer a {
	color:#a85ac1;
}

/*			 						*/
/*			Footer			*/
/*									*/

#footer_container {

	margin:15px auto 0;
	padding:0;
	text-align:center;
	width:100%;
	
	color:#fff;

	background-color:#aacc31;
/*	-moz-border-radius-topleft:5px;  
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
*/
		
}

#footer_container h3 {
	margin:0 auto 10px;
	background-color:#88aa10;
	-moz-border-radius-bottomleft:10px;  
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	width:70%;
	
	font-size: 1em;
	font-weight:500;
}

#footer_container div p {
	font-size:.8em;
	font-weight:normal;	
	text-align:left;
	letter-spacing:.08em;
	line-height:1.6em;
	
	color: #fff;
}

#footer_container div p a {
	color: #fff;
	text-decoration:underline;
}
#licenses, #how_to_contact {
	width:45%;
	padding:0px 15px;
}

#licenses {
	float:left;
}

#how_to_contact {
	float:right;
}

/*        								*/
/* 		Global classes	 		*/
/*      shared commonly		*/

/*	Linked images shouldn't have black background on hover			*/
.linked_image a:hover {background-color:transparent;}

/*	edit_this link	*/
.edit a, .edit {
	font-size:11px;
	vertical-align:super;
	padding:0px 2px 0px 2px;
	color:#fff;
}

.edit a:hover {
	color:#fff;
	font-size:11px;
	background:transparent;
}

#flag {
	width:20%;

}

/* notices */
#notice_container {
	position:fixed;
	left:5%;
	top:5%;
	z-index:8000;
	width:30%;
	
	background:#000;
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	padding:4px;
	
	
}

#notice {
	width:100%;
	color:#fff;
	line-height:22px;
	margin:0px;
	padding:10px;
	
	}

#notice img {
	padding:0px 5px;
	}

/* Sharing stories */

.story_this_story {
	line-height:18px;
	margin:0px;
	text-align:center;
}

.story_this_story a, #story_this_story a:visited, #story_this_story a:active, #story_this_story a:hover {
	vertical-align:top;
	text-decoration:none;
	background-color:transparent;
	color:#333;
	font-size:14px;
}

/* Pagination */


.pagination {
	font-size:1em;
	text-align:center;
	vertical-align:baseline;

	background:#000;
	zoom:1;
	
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	
	width:50%;
	padding:6px;
	margin:5px auto;
	color:#fff;
	font-weight:400;
}

#listPrompts .pagination a {
	color:#fff;
}

.pagination .disabled {
	display: none;
}

.pagination .current {
	text-decoration:none;
	color:#a85ac1;
}

.pagination .prev_page, .pagination .next_page, .pagination .current {

}


.pagination a {
	padding:3px;
}

.pagination a:hover {
	color:#8fcfef;
	
}

/* Recaptcha */
.recaptcha_table, .recaptcha_image_cell, #recaptcha_table {
	width:90%;
 }
 
.recaptcha_image_cell {
}
 #recaptcha_table {
	background-color:#fff;
	border-collapse:collapse;
	zoom:1;
	
	border:2px solid #333;
 }
 
 #recaptcha_response_field {
	background:transparent;
 }

/* Linked images should not have a hover */
.linked_image a:hover{
	background:transparent;
}


/*												*/
/*		Clean-up Classes		*/
/*												*/

/* Error styles */

.explanation_container {

	padding:15px;
}

#explanation {
	width:550px;
	
	position:relative;
	left:60px;
	top: 70px;
	
}

#explanation a {
	color:#522b1d;
}

#explanation p {
	font-size:1.5em;
 	color:#000;
	font-weight:normal;
}

#explanation strong {
	color: #a85ac1;
}

#error_logo {
	position:relative;
	left:35px;
	top:60px;
}


.small_text a, .small_text a:visited, .small_text a:active, .small_text a:hover, .small_text span, .small_text p {
	font-size:.7em;
}

.center {
	text-align:center;
	width:95%;
	margin:0px auto;
}

.float_left {
	float:left;
}

.float_right {
	float:right;
}

.clear {
	clear:both;
	height:1px;
}

.space {
	height:15px;
}

/* Tag Cloud on Browse By Tags */
.tag_cloud_container {
	width:100%;
	margin:0px auto;
	padding:15px;
	text-align:center;
	line-height:1.5em;
	
	background:#fff;
	zoom:1;
	
	-moz-border-radius:10px;  
	-webkit-border-radius:10px;
	
}

.css1, .css1:visited { font-size: 0.5em; padding:0 5px; color:#ddd; }
.css2, .css2:visited { font-size: 0.8em; padding:0 10px; color:#aaa;}
.css3, .css3:visited { font-size: 0.9em; padding:0 15px; color:#777;}
.css4, .css4:visited { font-size: 1.2em; padding:0 15px; color:#555;}
.css5, .css5:visited { font-size: 1.5em; padding:0 20px; color:#333;}
.css6, .css6:visited { font-size: 1.8em; padding:0 20px; color:#111;}
