body { background-color: #fff; color: #333; 
	
  margin:0px;
  padding:0px;
}

body, p, ol, ul, td {
  font-family: helvetica, verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

table {
	table-layout:fixed;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h1 {
	font-size:32px;
	line-height:32px;
	padding-top:2px;
	margin-top:0px;
	margin-bottom:10px;
	padding-bottom:4px;
	text-align:left;
	color:#a62;	
	border-bottom:2px solid #999;
	width:100%;
	text-indent:15px;
}

a { color: #555; text-decoration:underline; }
a:visited { color: #777; text-decoration:underline;}
a:active { color: #777; text-decoration:underline;}
a:hover { color: #fff; background-color:#000; text-decoration:none; }

h1 a {
	color:#555;
	font-size:20px;
}

h1 a:visited {
	color:#777;
	font-size:20px;
}

h1 a:hover {
	color:#fff;
	font-size:20px;
}


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#header_links {
	font-family:helvetica, tahoma, verdana, sans-serif;
	text-align:center;
	font-weight:bold;
	font-size:15px;
	color:#333;
	padding:0px 75px 0px 0px;
	margin:-22px 0px 15px 0px;
}

.logo {
		text-align:center;
		padding-top:15px;
}

#logo {
	font-family:verdana, helvetica, tahoma, verdana, sans-serif;
	font-weight:bold;
	font-size:55px;
	color:#fff;
	line-height:55px;
	padding:0px 0px 0px 0px;
	width:80%;
}

.add_share_form, #show_share, #contributed_shares {
	background-color:#ddddff;
	margin:0px auto;
	padding:0px;
}

.add_share_form table {
	border-collapse:collapse;
	margin:15px auto;
	width:90%;
	padding:0px;
}

.add_share_form th{
	text-indent:15px;
}
.add_share_form td {
	padding: 0 0px 0 15px;
	vertical-align:top;
	}

.add_share_form .right {
	border-left:2px dashed gray;
}


.add_share_form label, p {
	margin:0px;
	font-size:20px;
	line-height:28px;
	font-weight:bold;
	text-align:left;
	color: #685;
}

.add_share_form textarea {
	width:90%;
	height:200px;
	border:2px solid #bbf;
	background-color:#eef;
	font-size:20px;
	color:#666
}

.add_share_form input{
	width:90%;
	height:35px;
	border:2px solid #bbf;
	background-color:#eef;
	font-size:20px;
	color:#666;
	margin-bottom:20px;
	vertical-align:middle;
}

.add_share_form input[type="checkbox"]{
	width:20px;
	height:20px;
	border:2px solid #bbf;
	background-color:#eef;
	font-size:10px;
	color:#666;
}

.add_share_form input[type="submit"],input[type="button"] {
	width:150px;
	font-size:22px;
	color:#666;
	background-color:#eef;
	border:2px solid #bbf;
}
		
#show_share table {
	border-collapse:collapse;
	padding:5px 0px 15px 0px;
}

#show_share th {
	text-indent:15px;
}

#show_share td {
	padding: 0px 0px 0px 20px;
	text-align:left;
	vertical-align:top;
}

#show_share h2 {
	padding:0px;
	margin:0px;
}

#show_share h2 a {
	font-size:23px;
	line-height:26px;
	color: #333;
}

#show_share h2 a:hover {
	font-size:23px;
	line-height:26px;
	color: #fff;
}


#show_share p, span {
	font-size:20px;
	font-weight:bold;
	color: #666;
	margin:2px;
}

#show_share .show_share_description_container {
	
	width:65%;
}

#show_share .show_share_description {
	font-size:14px;
	color:#555;
	letter-spacing:.02em;
}


#show_share .show_share_value {
	font-size:16px;
	color:#555;
	text-indent:5px;
	padding-bottom:10px;
}

#contributed_shares table {
	border-collapse:collapse;
	padding:5px 0px 15px 0px;
}

#contributed_shares th, th span{
	text-indent:15px;
	text-align:left;
	padding-bottom:10px;
	font-size:18px;
	color:#555;
}

#contributed_shares td {
	padding: 0px 0px 10px 15px;
	vertical-align:top;
	text-align:left;
}

#contributed_shares th a {
	font-size:28px;
	color: #685;
}

#contributed_shares a {
	font-size:21px;
	vertical-align:baseline;
}

#contributed_shares p, span {
	font-size:15px;
	font-weight:bold;
	line-height:18px;
	color: #685;
}

#contributed_shares .alternate {
	background-color:blue;
}

#show_shares table{
	border-collapse:collapse;
	padding:0px;
	margin:0px 10px 10px 30px;
	
}

.row {
	
}

.row_alternate {
	background-color:#cce;
}
#description_slide_toggle {
	vertical-align:baseline;
	width:150px;
	text-align:right;
	padding-right:5px;
}

#description_drawer {
	width:600px;
}

.description_in_drawer {
	margin:15px 15px 15px 75px;
	padding:5px;
	border-left:2px dotted #999;
}

.description_in_drawer p {
	font-size:16px;
	font-family:helvetica, verdana, tahoma, arial, sans-serif;
	letter-spacing:.04em;
	font-weight:normal;
}

#show_share_title {
	width:500px;
}

.share_this_share {
	vertical_align:middle;
	line-height:18px;
	width:30px;
	margin:0px;
}

.share_this_share a, #share_this_share a:visited, #share_this_share a:active, #share_this_share a:hover {
	text-decoration:none;
	background-color:transparent;
	color:#333;
	font-size:16px;
}

.linked_images a:hover {background-color:transparent;}