

<div class="left_container">
	<div id="login">
		<h1>Join</h1>
		<%= 
			rpx_embed( 	:link_text => "Register/Sign in with RPX..", 
						:app_name => "six-minute-story", 
						:return_url => user_session_url )
			%>
	</div>
</div>