
<% content_for :pagename do %>
	<%= "Profile for " + h(@user.login) %>
<% end %>

<%= render :partial => 'profile' %>


<h4>
	<% if is_user && current_user.id == @user.id && !@user.writers.empty? && request.path.include?("account") %>
		Stories by Writers You Follow
	<% else %>
		Stories by <%= @user.login %>
	<% end %>
</h4>

 <%= render :partial => "layouts/show_stories" %>
