<% if is_user or @story.emotions.present? %>
<article class="comment_container">
	<% if is_user %>
		<h4>What emotion did this story evoke?</h4>
		<%= form_for(@story, :remote => true) do |form| %>
			<%= form.text_field :emotion_list, :tabindex => "4", :value => "" %><%= form.submit "Submit" %>
		<% end %>
	<% end %>
	
	<% unless @story.emotions.empty? %>
		<footer id="emotions">
			<h4>Emotions this story evoked:</h4>
			<% @story.emotions.each do |emotion| %>
				<%= link_to emotion.name, subset_stories_url(:tag => h(emotion.name), :subset => "emotion")%>
			<% end %>
		</footer>
	<% end %>
</article>
<% end %>

