<!-- <h4 class="card-header bg-light">
  
</h4> -->
<div class="card-content p-3">
  <%= render :partial => "votes/story_vote", :story => @story %>
  <% for voter in @story.voters_who_voted %>
  	<% if voter.voted_for?(@story) %>
  		<%= link_to voter.login, profile_url(voter) %><%= ", " unless @story.voters_who_voted.last == voter %>
  	<% end %>
  <% end %>
</div>