<h4><%= @story.votes_for > 0 ? "favorited by" : "no favorites" -%></h4>
<% for voter in @story.voters_who_voted %>
	<% if voter.voted_for?(@story) %>
		<%= link_to voter.login, profile_url(voter) %><%= ", " unless @story.voters_who_voted.last == voter %>
	<% end %>
<% end %>

<%= render :partial => "votes/story_vote", :story => @story %>
