<% if @stories %>
	<% if is_admin %> 
		<% # count of stories %>
		<div class="d-flex justify-content-center">
			<div class="justify-content-between">
				<%= page_entries_info @stories %>
			</div>
		</div>
	<% end %>

	<% #pagination %>
	<%= paginate @stories %>	
<% end %>