<div id="prompt_container" class="prompt_container float_left" >
  <b class="sideyard">
  <b class="sideyard1"><b></b></b>
  <b class="sideyard2"><b></b></b>
  <b class="sideyard3"></b>
  <b class="sideyard4"></b>
  <b class="sideyard5"></b></b>

 	
	<div id="prompt">
		<span class="labels">hero </span><span class="entries"><%=h @prompt.hero -%></span>
		<span class="labels">villain </span><span class="entries"><%=h @prompt.villain -%></span>
		<br />
		<span class="labels">goal </span><span class="entries"><%=h @prompt.goal -%></span>
		<span class="labels">id</span><span class="entries"><%=h @prompt.id -%></span>
	</div>

  <b class="sideyard">
  <b class="sideyard5"></b>
  <b class="sideyard4"></b>
  <b class="sideyard3"></b>
  <b class="sideyard2"><b></b></b>
  <b class="sideyard1"><b></b></b></b>



</div>
