<div id="prompt_container" class="prompt_container" >
 	
	<div id="prompt">
		<span class="labels">hero </span><span class="entries"><%=h @prompt.hero -%></span><br />
		<span class="labels">villain </span><span class="entries"><%=h @prompt.villain -%></span>
		<br />
		<span class="labels">goal </span><span class="entries"><%=h @prompt.goal -%></span>
	</div>

</div>
