	<div id="share">
		
		<script type="text/javascript">

				var addthis_options = 'email, facebook, delicious, buzz, reddit, spurl, stumbleupon, tumblr, twitter, digg, more';
				//tweetmeme_style='compact'
		 		tweetmeme_url='<%= read_story_url(@story) %>'
				tweetmeme_source='6minutestory'
				tweetmeme_service='bit.ly'
				service_api = 'R_7d9a33865d37be3eda125f7d3c353230'
		</script>
		
			<script 	type="text/javascript"
		 			src="http://tweetmeme.com/i/scripts/button.js">
			</script>
			<br /><br />
				<script src="http://www.stumbleupon.com/hostedbadge.php?s=5"></script>
					<br /><br />
		<iframe src="http://www.facebook.com/plugins/like.php?href=<%=h read_story_url(@story) %>&amp;layout=box_count&amp;show_faces=false&amp;width=90&amp;action=like&amp;font=segoe+ui&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:65px;" allowTransparency="true"></iframe>
	

				
					
		
	</div>
	<!-- close share div -->