- # This is for the RSS feed
- if request.path == "/"
  - @rss_url = "http://feeds.feedburner.com/sixminutestory/recent.rss"
- else
  - @rss_url = "http://feeds.feedburner.com/sixminutestory" + request.path + ".rss"
.row.mx-4
  .col-md-12
    %h1= @title
    = render :partial => "layouts/browsing"
.row.mx-4
  .col-md-12
    .my-4= render(@stories) || render(inline: "<div class='jumbotron border'><p class='lead text-center'>There are no stories matching those criteria.</p><p class='lead text-center'><%= link_to write_url, class: 'btn btn-primary btn-large' do %><i class='fa fa-keyboard mr-1'></i> Write a New Story<% end %> </p></div>")
    - if @stories.present? && @stories.any?
      = render :partial => 'pagination'