<h1>Write a Six Minute Story</h1>

<div class="prompt_container">
  <b class="sideyard">
  <b class="sideyard1"><b></b></b>
  <b class="sideyard2"><b></b></b>
  <b class="sideyard3"></b>
  <b class="sideyard4"></b>
  <b class="sideyard5"></b></b>

 	
	<div id="prompt">
		<span class="labels">hero </span><span class="entries"><%= @prompt.hero -%></span>
		<span class="labels">villain </span><span class="entries"><%= @prompt.villain -%></span>
		<br />
		<span class="labels">goal </span><span class="entries"><%= @prompt.goal -%></span>
	</div>

  <b class="sideyard">
  <b class="sideyard5"></b>
  <b class="sideyard4"></b>
  <b class="sideyard3"></b>
  <b class="sideyard2"><b></b></b>
  <b class="sideyard1"><b></b></b></b>
</div>

<% form_for(@story) do |f| %>
  <%= render :partial => "form", :object => f %>
<% end %>