
<%= render :partial => "layouts/browsing" %>

<div class="tag_cloud_container">
	<% if @tags -%>
		<div id="TagCloud">
			<h1><%=h @title %></h1>
	
	   		<% tag_cloud @tags, %w(css1 css2 css3 css4 css5 css6) do |tag, css_class| %>

	    			<%= link_to tag.name, subset_stories_url(:tag => tag.name, :subset => @subset, :months => 100), :class => css_class %>
			<% end %>
	
	  </div>
	
	
	<% else -%>
	  <p>No tags :|</p>
	  
	
	<% end -%>
	
</div>
