
<h1><%=h @title %></h1>
<%= render :partial => "layouts/browsing" %>

<div class="tag_cloud_container">
	<% if @tags -%>
		<div id="TagCloud">
	
	   		<% tag_cloud @tags, %w(css1 css2 css3 css4) do |tag, css_class| %>
				<% if @genres %> 
	    			<%= link_to tag.name, genre_url(tag.name), :class => css_class %>

				<% else %>
		    		<%= link_to tag.name, tag_url(tag.name), :class => css_class %>
		  		<% end%>
			<% end %>
	
	  </div>
	
	
	<% else -%>
	  <p>No tags :|</p>
	  
	
	<% end -%>
	
</div>
