.row
  .col-md-12
    - if @stories.any?
      #stories
        = render partial: "stories/story", collection: @stories, locals: {truncate: false}
      = link_to "load more", thread_url(@story, page: @page + 1), remote: true, id: "load_more_in_thread"
      / = render :partial => 'pagination'

    - else
      %h1
        Erm...
      #no_stories
        %p
          No stories meet that criteria.
          = link_to "Write your own", write_url