.container
  %row
    .col-md-12
      %h2 Thread
      .lead This is a thread of stories. Each story was written in continuation of the previous story, to make a (hopefully) cohesive narrative.
  .row
    .col-md-12
      #stories.my-4
        = render(partial: "stories/story", collection: @stories, locals: {truncate: false})

      #no_more_stories.jumbotron.mx-3.border
        %p.lead.text-center
          That was the last story.
        %p.lead.text-center
          = link_to write_to_prompt_url(@story.prompt, parent_id: @story.path.last.id), class: 'btn btn-primary btn-large' do
            %i.fa.fa-keyboard
            %span.ml-1 Add Your Own