<div id="following_toggle">

		<% unless is_following?(@user) %>
			<div id="following_button" class="button_container">
				<%= link_to "Follow", 
					:url => followings_url(:writer_id => @user.id),
					:method => :post,
					:remote => true
				%>
			</div>
			<% else %>

				<div id="unfollowing_button" class="button_container">
					<%= link_to "Unfollow", 
						:url => {:controller => 'followings', :action => 'destroy', :writer_id => @user.id},
						:method => :delete,
						:remote => true
					%>
				</div>
			<% end %>
</div>	
