<span id="following_toggle">

	<% unless is_following?(user) %>
		<%= button_to "Follow",
			followings_url(:writer_id => user.id), {class: "btn btn-success  btn-sm", form_class: "d-inline-block"}
		%>
	<% else %>

		<%=
		button_to "Unfollow",
			Following.where(:user_id => current_user, :writer_id => user).first,
			:method => :delete, class: "btn btn-danger btn-sm", form_class: "d-inline-block"
		%>

	<% end %>
</span>
