<div id="following_toggle">

	<% unless is_following?(@story.user) %>

	<%= button_to "Follow",
		followings_url(:writer_id => @story.user.id), class: "btn btn-success"
		#,
		#:remote => true
	%>

	<% else %>

		<%=
		button_to "Unfollow",
			Following.where(:user_id => current_user, :writer_id => @story.user).first,
			:method => :delete, class: "btn"
# ,
			#:remote => true
		%>

	<% end %>
</div>
