<div id="following_toggle">

		<% unless is_following?(@user) %>
			<div id="following_button" class="button_container">
				<%= link_to "Follow", 
					followings_url(:writer_id => @user.id),
					:method => :post
					#,
					#:remote => true
				%>
			</div>
			<% else %>
				<div id="unfollowing_button" class="button_container">
					<%= 
					link_to "Unfollow", 	
						Following.where(:user_id => current_user, :writer_id => @user).first,
						:method => :delete
            # ,
						#:remote => true
					%>
				</div>
			<% end %>
</div>	
