<p>Six Minute Story thanks the creators of Ruby, Ruby on Rails, Mislav-will_paginate, Authlogic, Authlogic_facebook_connect, Facebooker, Recaptcha plugin, Sphinx, Thinking Sphinx, Acts_As_Taggable_On, Vote_fu, Inkscape, Ubuntu, Phusion Passenger, Apache and the Open Source community in general for making this site far easier to develop than it could have been. 
</p>
<p>
Thank you for supporting citizen media and publishing everywhere by distributing your code openly. 
</p>