<%= render :partial => "layouts/browsing" %>

<h1>tags</h1>
<div class="tag_cloud_container">
  <b class="sideyard">
  <b class="sideyard1"><b></b></b>
  <b class="sideyard2"><b></b></b>
  <b class="sideyard3"></b>
  <b class="sideyard4"></b>
  <b class="sideyard5"></b></b>

  <div class="sideyardfg">
	<% if @tags.empty? -%>
	
	  <p>No tags :/</p>
	
	<% else -%>
	
	  <div id="tag-cloud">
	
	    <% tag_cloud(@tags, @levels) do |tag,level| -%>
	
	      <span class="<%= level %>"><%= link_to h(tag), tag_url(h(tag)) %></span>
	
	    <% end -%>
	
	  </div>
	
	<% end -%>
	
  </div>

  <b class="sideyard">
  <b class="sideyard5"></b>
  <b class="sideyard4"></b>
  <b class="sideyard3"></b>
  <b class="sideyard2"><b></b></b>
  <b class="sideyard1"><b></b></b></b>
</div>
