<%= render :partial => "layouts/browsing" %>

<div class="tag_cloud_container">
  <b class="sideyard">
  <b class="sideyard1"><b></b></b>
  <b class="sideyard2"><b></b></b>
  <b class="sideyard3"></b>
  <b class="sideyard4"></b>
  <b class="sideyard5"></b></b>

  <div class="sideyardfg">
	<%= tag_cloud %>
	
  </div>

  <b class="sideyard">
  <b class="sideyard5"></b>
  <b class="sideyard4"></b>
  <b class="sideyard3"></b>
  <b class="sideyard2"><b></b></b>
  <b class="sideyard1"><b></b></b></b>
</div>
