<div id="error_logo">
	<a href="http://sixminutestory.com"><img src="images/logo.png"></a>
</div>


	<div id="explanation">
		<p>
			<strong>It's... not here.</strong> 
			Whatever you were looking for seems to have wandered off. 	
			<strong>Sorry.</strong>
		</p>

		<p>It may be lurking over <a href="http://sixminutestory.com">here</a>.</p>
	</div>