<div id="content">

<div class="answer">
	<h4>
		What's the point?
	</h4>	
	<p>
		Writing a story in six minutes – with a ticking timer and a surprise prompt – <strong>is an adrenaline rush</strong>. 
	</p>
	<p>
	It will invigorate your mind for the entire day, helping you <strong>create</strong> more (and more and more) original art. 
	</p>
	<p>
	Which is, as <a href="http://bit.ly/c8KXqe">Kurt Vonnegut said</a>, "a way to make your soul grow." 
	</p>
</div>

<div class="answer">
	<a name="howitworks"></a>
	<h4>
		How does it work?
	</h4>	
	
	<p>
		<ol>
			<li>Click <%= link_to "write", write_url %></li>
			<li>When you click in the writing box, you'll get a <strong>prompt</strong>.</li>
			<li>Then you have <strong>six minutes</strong> to write a story.</li>
			<li><%= link_to "Go", write_url %>!</li>
		</ol> 
	</p>
</div>


<div class="answer">
	<h4>
		Do I have to write to the prompt?
	</h4>	
	<p>
		As my mother used to say, "You don't <strong>have</strong> to do anything. You <strong>get</strong> to do this." So no, you don't have to write to the prompt. 
	</p>
	<p>	
		But, "No fair, tennis without a net." Giving your writing constraints <em>makes it a challenge</em>. Otherwise writing a story in six minutes would be easy. Wait... no it wouldn't.
	</p>
	<p>
		However, each Friday we do give a <strong>freeform prompt</strong> for madly exorcising the week's agony.
	</p>
</div>

<div class="answer">
	<h4>
		Do you accept submissions from my country?
	</h4>	
	<p>
		Anyone is welcome to write. In any language. 
	</p>
	<p>	
		We accept submissions on an ongoing basis. Just follow <a href="#howitworks">these instructions</a>. 
	</p>
</div>

<div class="answer">
	<h4>
		Do you accept stories I wrote outside Six Minute Story?
	</h4>	
	<p>
		Nope. That's what personal blogs are for.
	</p>
	<p>	
		Writing on the site frees your piece from death by revision. You have six minutes, and then you're done.
	</p>
</div>

<div class="answer">
	<h4>
		I have an idea!
	</h4>
	<p>
	Great! We're all ears. You can get ahold of us via <a href="http://twitter.com/6minutestory">twitter</a>, or via <a href="http://facebook.com/sixminutestory">Facebook</a>, or via our <a href="http://sixminutestory.uservoice.com">feedback forum</a>.
	</p>
</div>

<div class="answer">
	<h4>
		Who owns the stories?
	</h4>
	<p>
	The stories are yours, but, this being the age of copyright and <a href="http://boingboing.net/copyfight/" target="_blank">copyfight</a>, we're simplifying things. Your stories must be licensed under your choice of <a href="http://creativecommons.org" target="_blank">Creative Commons</a> and Public Domain licenses. 
	</p>
	<p>
	The minimum license requires that you be attributed in any derivative or copied works. Other variations require that others also share (share alike), that your work be shared only non-commercially, and that your work is kept whole (no derivatives). 
	</p>
	<p>
	We hope you'll agree that it's better to join the trend towards a sharearchy, but if you don't like it, you can always write here and post your story to your own blog, copyright statement and all.
	</p>
</div>


<div class="answer">
	<h4>
		Do I have to submit my story?
	</h4>
	<p>
		Nope. Just click away without hitting submit.
	</p>
</div>


<div class="answer">
	<h4>
		Can I use this in my classroom?
	</h4>
	<p>
	Sounds good to us. We learned to write in high school and never looked back. If we can help empower another human, we're all for it. If there's enough demand we'll see about officially catering to classrooms, but in the meantime we suggest using tags to track your students' stories. 
	</p>
	<p>
		For example, students in the Fall semester of English 101 at UW could tag their stories "UW-Eng101-Fall". Simple enough. If you have detailed questions, feel free to contact us.
	</p>
</div>


<div class="answer">
	<h4>
		I'm offended!
	</h4>
	<p>
		We don't censor ideas or words. Feel free to shield your eyes. We do delete "stories" that aren't stories and users who post them, as if anyone wanted their male enhancement formula anyway.
	</p>
</div>


<div class="answer">
	<h4>
		Will this make me famous?
	</h4>
	<p>
	We wish you success. If you do get famous, feel free to mention us.
	</p>
</div>


<div class="answer">
	<h4>
		And who are you?
	</h4>
	<p>
		"We" are <a href="http://flavors.me/galensanford">Galen</a>.
	</p>
</div>
</div>