<% content_for :pagename do %>
	<%= "Profile for " + h(@user.login) %>
<% end %>

<% content_for :sideyard do %>
<h2>
		<%=h @user.login %>
</h2>
	<%= render :partial => "site/profile_block" %>
<% end %>

 <%= render :partial => "layouts/show_stories" %>




