<% content_for :pagename do %>
	<%=h ":: " + @user.login %>
<% end %>

<div id="show_share">
	<h1>
	  <%=h @user.login %>
	</h1>

<%= render :partial => "site/profile_block" %>

</div>

<br /><br />
 <%= render :partial => "layouts/show_shares" %>

