<% content_for :pagename do %>
	<%= ":: Profile for " + h(@user.login) %>
<% end %>

<div id="show_story">
	<h1>
		profile
	</h1>
	<h4>
		<%=h @user.login %>
	</h4>

<%= render :partial => "site/profile_block" %>

</div>

<br /><br />
 <%= render :partial => "layouts/show_stories" %>

