<h1>What we mean by open</h1>
<div class="description">
<p>
<b><em>Open</em></b> means the author or owners of the tools, information or art <b>intentionally</b> share it under any of the various licenses for sharing (Creative Commons, Open Source, Public Domain, etc) or give it away openly, license and copyright-free.
</p>
</div>

<h1>What we're doing here</h1>
<div class="description">
<p>
	Artists, corporations, organizations and individuals use torrents to intentionally distribute their Open art, tools and information; yet, it can be difficult to find such freely distributed materials amongst the haystack of copyrighted data on torrent trackers like The Pirate Bay. It isn’t that Open materials aren’t there, but that you have to work to discover them. 
</p>
<p>
	Until now, there hasn’t been a central, specific place to catalogue everything Open. The Sharearchy is an attempt to provide a point of gravity for Open people all over the web.
</p>
</div>


<h1>What you can do</h1>
<div class="description">
<h2>Creators</h2>
<p>
	Give your Open art, tools or information free exposure by <%= link_to "sharing", new_path %> it on the Sharearchy!
</p>
<h2>Mavens, Copyfighters, </h2>
<p>
	Find something Open? <%= link_to "Share it here!", new_path %>
</p>
</div>