<h1>What we're doing here</h1>
<div class="description">
<p>
	Individuals use torrents to legitimately distribute art and information; yet, it’s difficult to find non-copyrighted material amongst the haystack of copyrighted data on places like The Pirate Bay. It isn’t that Open Art isn’t there, but that you have to work to discover it. 
</p>
<p>
	Until now, there hasn’t been a central, specific place to catalogue everything Open. The Sharearchy is an attempt to provide a point of gravity for Open people all over the web.
</p>
</div>