// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story {
	h2 {
		padding-top:40px;
		text-align:left;
		font-size:1.9em;
		margin:5px 0;
	}
}

.story_footer {
}