// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story {
	h2 {
		padding-top:40px;
		text-align:left;
		font-size:1.9em;
		margin:5px 0;
	}
}

.increment-story {
	min-height:600px;
	height:600px;
	line-height: 600px;
	font-size: 4em;
	color: rgb(200,200,200,0.5);
}

.increment-story-left {
	min-height: 400px;
	height: 400px;
	line-height: 400px;
}

.increment-story-random {
	min-height: 200px;
	height:200px;
	line-height: 200px;
	font-size: 3em;
}

.story_footer {
	width:50%;
	span {
		padding:0;
	}
}

#stories_nav {
	position: fixed;
	bottom:1%;
	right:0;
}

#share {
	width:50%;
	text-align: center;
	margin:0 auto;
	clear: both;
	ul {
		margin:0 auto;
		list-style: none;
		width:50%;
		li {
			float:left;
			padding:12px;
		}
	}

}