<% 
	# You can't vote if it is your story, 
	# you are not logged in, 
	# or you have already voted on this item
	
	unless !current_user || @story.user_id == current_user.id	||  
		current_user.voted_on?(@story)			

%>
<div id="add_favorite">
	<%= link_to "Favorite", user_story_votes_path(@story.user, @story, :vote => :true), 
		:method => :post,
		:remote => true
	%> 
</div>
<% else %>
<div id="add_favorite">
<span>
	<%= approval_rating %> 
</span>
</div>
<% end %>
