<% 
	# You can't vote if it is your story, 
	# you are not logged in, 
	# or you have already voted on this item
	
	unless !current_user || @story.user_id == current_user.id	||  
		current_user.voted_on?(@story)
		
		if !@toolbar.present?
			@toolbar = "one"
		else 
			@toolbar = "two"
		end
		
			 	@ballot_element = "ballot_"+@toolbar.to_s
				@vote_element = "vote_details_"+@toolbar.to_s 
		

%>
<span id="<%= @ballot_element %>">
	<%= link_to_remote "Love", 
		:url => user_story_votes_path(@story.user_id, @story, :vote => :true), 
		:method => :post
	%> 
</span><br />
<% end %>

<span>
<%= approval_rating %> 
</span>