<%- story = story ? story : @story %>

<span id="add_favorite_<%= story.id %>">
	<% if current_user && story.user_id != current_user.id %>
		<% 
			# You can't vote if it is your story, 
			# you are not logged in, 
			# or you have already voted on this item
	  %>
	  <% if current_user.voted_for?(story) %>
		 		<%= button_to story_votes_path(story, vote_direction: :down), form_class: "d-inline-block", class: "btn btn-sm mr-2 btn-warning", rel: "tooltip", title: "Remove from favorites",
					remote: true do
				%>
					<i class="fa fa-star fa-large"></i>
				<%- end %>
		<% elsif !current_user.voted_for?(story) %>
		 		<%= button_to story_votes_path(story, vote_direction: :up), form_class: "d-inline-block", class: "btn btn-sm btn-light mr-2  border text-dark", rel: "tooltip", title: "Add to favorites", 
					remote: true do
				%>
					<i class="fa fa-star-o fa-large"></i>
				<%- end %>
		<% end %>
	<% end %>
	<%= approval_rating(story) %>
</span>