<% @user == current_user ? name = "You have" : @user.login + " has"%>
<h1><%= name %> <%= @user.votes.count %> favorites</h1>


			<div class="brown button_container"><a href="?order=popular">Popular</a></div> 
			<div class="brown button_container"><a href="?order=most">Most</a> </div>
			<div class="brown button_container"><a href="?order=recent">Recent</a> </div> 
			<div class="brown button_container"><a href="?order=earliest">Earliest</a> </div>

			

<%= render :partial => "layouts/show_stories" %>

<%= render :partial => "users/profile" %>