<% @user == current_user ? name = "You have" : name = @user.login + " has" %>
	
<h1><%= name %> <%= @user.votes.count %> favorites</h1>

	<nav>
			<div class="brown button_container"><a href="?order=popular">Popular</a></div> 
			<div class="brown button_container"><a href="?order=most">Most</a> </div>
			<div class="brown button_container"><a href="?order=recent">Recent</a> </div> 
			<div class="brown button_container"><a href="?order=earliest">Earliest</a> </div>
	</nav>
			

<%= render :partial => "stories/story", :collection => @stories %>

<%= render :partial => "users/profile" %>