<h1>read</h1>
<span class="browse_links">
<%= link_to image_tag('top_rated.png'), top_path %>
<%= link_to image_tag('recent.png'), recent_path %> 
<%= link_to image_tag('by_tags.png'), browse_by_tags_path %>
</span>
