<h1>Shares 
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Top Rated", top_path %> . <%= link_to "Recent", recent_path %> . <%= link_to 'Browse by Tags', tags_path %> &nbsp;&nbsp;&nbsp;&nbsp; (<%= link_to 'New share', new_path %>)</h1>