<div class="browse_links">
	<div class="orange button_container">
		<%= link_to "Featured", read_path %>
	</div>
	
	<div class="brown button_container">
		<%= link_to "Top Rated", top_path %>
	</div>
	<div class="green button_container">
		<%= link_to "Recent", recent_path %> 
	</div>
	<div class="brown button_container">
		<%= link_to "Popular", popular_path %>
	</div>

</div>
