<h2>Recommendations</h2>
<div class="center" style="width:270px">
<iframe src="http://www.facebook.com/plugins/recommendations.php?site=http%3A%2F%2Fwww.sixminutestory.com&amp;width=270&amp;height=300&amp;header=false&amp;colorscheme=light&amp;font=segoe+ui" scrolling="no" frameborder="0" style="border:none; background-color:#fff;overflow:hidden; width:270px; height:300px;" allowTransparency="true"></iframe>
	
</div>
<div class="clear space"></div>