<div class="housec">
  <b class="house">
  <b class="house1"><b></b></b>
  <b class="house2"><b></b></b>
  <b class="house3"></b>
  <b class="house4"></b>
  <b class="house5"></b></b>

  <div class="housefg">
	<div id="footer">
		<span>
			<a href="http://blog.sixminutestory.com/">read the blog</a> |
			<a href="http://blog.sixminutestory.com/about">what we're doing here </a>
  		</span>
	<div>
	</div>

  <b class="house">
  <b class="house5"></b>
  <b class="house4"></b>
  <b class="house3"></b>
  <b class="house2"><b></b></b>
  <b class="house1"><b></b></b></b>
</div>